<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huog0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>tm80.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1719572434,1719572434},{855822431,855822431}}</string>
                <key>offset</key>
                <string>{4.27911e+08,-4.27911e+08}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{855822431,855822431}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tm80.png</string>
            <key>size</key>
            <string>{8,8}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7170584074667d640c727a41f846ba1$</string>
            <key>textureFileName</key>
            <string>tm80.png</string>
        </dict>
    </dict>
</plist>
