<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_baifachigui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>head_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{103,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,101}}</string>
                <key>sourceSize</key>
                <string>{107,101}</string>
            </dict>
            <key>head_changmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,871},{101,105}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>head_changqiangws.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,736},{95,101}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{95,101}}</string>
                <key>sourceSize</key>
                <string>{103,101}</string>
            </dict>
            <key>head_chigui.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,107},{75,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,101}}</string>
                <key>sourceSize</key>
                <string>{75,101}</string>
            </dict>
            <key>head_dagui.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,320},{89,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,103}}</string>
                <key>sourceSize</key>
                <string>{89,103}</string>
            </dict>
            <key>head_dahama.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,412},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{95,97}</string>
            </dict>
            <key>head_damaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,656},{107,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,87}}</string>
                <key>sourceSize</key>
                <string>{107,87}</string>
            </dict>
            <key>head_douliwishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,220},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>head_duoluofashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>head_egui.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{81,95}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,95}}</string>
                <key>sourceSize</key>
                <string>{93,97}</string>
            </dict>
            <key>head_erhama.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{95,97}</string>
            </dict>
            <key>head_fenghuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,425},{103,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{103,87}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>head_fengzhirenzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>head_fushiguai.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,438},{95,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>head_guizhiwuzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>head_haiguai.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,547},{93,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,107}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>head_heiyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,839},{85,101}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{85,101}}</string>
                <key>sourceSize</key>
                <string>{91,101}</string>
            </dict>
            <key>head_heshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,438},{107,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,93}}</string>
                <key>sourceSize</key>
                <string>{107,93}</string>
            </dict>
            <key>head_hetong.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,107},{93,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>head_houzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,98},{83,75}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{87,75}</string>
            </dict>
            <key>head_huakui.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,897},{105,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{105,108}}</string>
                <key>sourceSize</key>
                <string>{107,110}</string>
            </dict>
            <key>head_huji.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,220},{97,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>head_huoche.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,547},{93,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,107}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>head_huohufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,674},{107,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,108}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>head_huoniao.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,111},{107,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,97}}</string>
                <key>sourceSize</key>
                <string>{107,103}</string>
            </dict>
            <key>head_jileniao.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,547},{75,107}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>head_klnyl.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,210},{91,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{91,100}}</string>
                <key>sourceSize</key>
                <string>{93,102}</string>
            </dict>
            <key>head_lanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{99,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,110}}</string>
                <key>sourceSize</key>
                <string>{99,110}</string>
            </dict>
            <key>head_leishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,220},{93,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,107}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>head_lianyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,107},{95,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,99}}</string>
                <key>sourceSize</key>
                <string>{95,101}</string>
            </dict>
            <key>head_longshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,653},{105,103}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>head_luishengxzc.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,102},{95,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>head_lulushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,942},{77,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{77,99}}</string>
                <key>sourceSize</key>
                <string>{87,99}</string>
            </dict>
            <key>head_luobaiwushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,111},{107,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,103}}</string>
                <key>sourceSize</key>
                <string>{107,103}</string>
            </dict>
            <key>head_luocha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{107,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,110}}</string>
                <key>sourceSize</key>
                <string>{107,110}</string>
            </dict>
            <key>head_maleninja.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{87,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,98}}</string>
                <key>sourceSize</key>
                <string>{87,100}</string>
            </dict>
            <key>head_mamian.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,874},{83,107}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{83,107}}</string>
                <key>sourceSize</key>
                <string>{91,107}</string>
            </dict>
            <key>head_maonv.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,329},{93,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,107}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>head_mengmo.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,656},{93,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,106}}</string>
                <key>sourceSize</key>
                <string>{95,108}</string>
            </dict>
            <key>head_mingwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{107,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>head_niutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,329},{97,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>head_nvcike.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,312},{69,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,98}}</string>
                <key>sourceSize</key>
                <string>{71,98}</string>
            </dict>
            <key>head_nvpu.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,201},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{91,97}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>head_qingfangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,777},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>head_quanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,668},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>head_quanshen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{95,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,107}}</string>
                <key>sourceSize</key>
                <string>{97,107}</string>
            </dict>
            <key>head_rilun.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,329},{99,107}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{99,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>head_sanguai.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,886},{105,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,107}}</string>
                <key>sourceSize</key>
                <string>{105,107}</string>
            </dict>
            <key>head_shangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>head_shanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,559},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>head_shanyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,101},{83,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{83,99}</string>
            </dict>
            <key>head_shengbogui.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,867},{87,105}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{87,105}}</string>
                <key>sourceSize</key>
                <string>{91,107}</string>
            </dict>
            <key>head_shenyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,764},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>head_shuihufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,786},{109,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>head_shuisf.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,109},{97,104}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{97,104}}</string>
                <key>sourceSize</key>
                <string>{99,104}</string>
            </dict>
            <key>head_szconglin.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,760},{95,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,105}}</string>
                <key>sourceSize</key>
                <string>{95,107}</string>
            </dict>
            <key>head_tangsan.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,765},{83,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>head_tiangou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{83,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,110}}</string>
                <key>sourceSize</key>
                <string>{85,110}</string>
            </dict>
            <key>head_tianluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,307},{93,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,97}}</string>
                <key>sourceSize</key>
                <string>{95,99}</string>
            </dict>
            <key>head_tiepaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,215},{103,99}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,107}</string>
            </dict>
            <key>head_tuzhizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,546},{105,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{107,103}</string>
            </dict>
            <key>head_ws.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{103,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,91}}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>head_wushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,633},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>head_wushifu.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{83,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,105}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>head_wushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{75,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,97}}</string>
                <key>sourceSize</key>
                <string>{77,99}</string>
            </dict>
            <key>head_xiangpushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,450},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>head_xianzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,438},{101,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{101,106}}</string>
                <key>sourceSize</key>
                <string>{103,108}</string>
            </dict>
            <key>head_xiaogui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,190},{65,95}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{65,95}}</string>
                <key>sourceSize</key>
                <string>{95,101}</string>
            </dict>
            <key>head_xiaogui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,183},{67,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{67,87}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>head_xiaomaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,272},{93,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,87}}</string>
                <key>sourceSize</key>
                <string>{95,89}</string>
            </dict>
            <key>head_xiaoyeye.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,208},{97,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>head_xiarenz.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{75,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,94}}</string>
                <key>sourceSize</key>
                <string>{75,96}</string>
            </dict>
            <key>head_xinzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,329},{87,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,107}}</string>
                <key>sourceSize</key>
                <string>{87,107}</string>
            </dict>
            <key>head_xiuluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{109,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>head_ye.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,894},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,107}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>head_zhenhetong.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,99},{89,74}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{89,74}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>head_zhongren.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,784},{99,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,108}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>head_ziyiwushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,530},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>head_zuofutongzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,511},{81,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,90}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f5d7b2ece13a7bb4b922adc01e7352c$</string>
            <key>textureFileName</key>
            <string>head.png</string>
        </dict>
    </dict>
</plist>
