<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nvcikeerhao_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,497},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>nvcikeerhao_celian.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,230},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>nvcikeerhao_jiaoz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,296},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>nvcikeerhao_jiaoz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,314},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>nvcikeerhao_jiaoz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,253},{15,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,31}}</string>
                <key>sourceSize</key>
                <string>{15,31}</string>
            </dict>
            <key>nvcikeerhao_lian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,158},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>nvcikeerhao_lian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,158},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>nvcikeerhao_lian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,56},{65,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{65,68}</string>
            </dict>
            <key>nvcikeerhao_paofa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,179},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,37}}</string>
                <key>sourceSize</key>
                <string>{18,37}</string>
            </dict>
            <key>nvcikeerhao_paofa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,86},{20,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,44}}</string>
                <key>sourceSize</key>
                <string>{20,44}</string>
            </dict>
            <key>nvcikeerhao_paofa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,219},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>nvcikeerhao_paojiaoa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,132},{24,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,57}}</string>
                <key>sourceSize</key>
                <string>{24,57}</string>
            </dict>
            <key>nvcikeerhao_paojiaob1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{26,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,70}}</string>
                <key>sourceSize</key>
                <string>{26,70}</string>
            </dict>
            <key>nvcikeerhao_paojiaoz.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,497},{13,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,31}}</string>
                <key>sourceSize</key>
                <string>{13,31}</string>
            </dict>
            <key>nvcikeerhao_paojxt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,30},{18,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,46}}</string>
                <key>sourceSize</key>
                <string>{18,46}</string>
            </dict>
            <key>nvcikeerhao_pf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{51,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,136}}</string>
                <key>sourceSize</key>
                <string>{51,136}</string>
            </dict>
            <key>nvcikeerhao_pif1.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,230},{56,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,118}}</string>
                <key>sourceSize</key>
                <string>{56,118}</string>
            </dict>
            <key>nvcikeerhao_pif3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{53,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,128}}</string>
                <key>sourceSize</key>
                <string>{53,128}</string>
            </dict>
            <key>nvcikeerhao_pif4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{53,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,122}}</string>
                <key>sourceSize</key>
                <string>{53,122}</string>
            </dict>
            <key>nvcikeerhao_qun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,197},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>nvcikeerhao_qun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,232},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>nvcikeerhao_qun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,50},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>nvcikeerhao_qunz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,20},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>nvcikeerhao_shouaa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,155},{14,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,35}}</string>
                <key>sourceSize</key>
                <string>{14,35}</string>
            </dict>
            <key>nvcikeerhao_shouaaaa.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,256},{15,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,54}}</string>
                <key>sourceSize</key>
                <string>{15,54}</string>
            </dict>
            <key>nvcikeerhao_shouab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,126},{14,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,30}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>nvcikeerhao_shouac1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,314},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>nvcikeerhao_shouag.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,273},{20,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,71}}</string>
                <key>sourceSize</key>
                <string>{20,71}</string>
            </dict>
            <key>nvcikeerhao_shouba.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{16,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,41}}</string>
                <key>sourceSize</key>
                <string>{16,41}</string>
            </dict>
            <key>nvcikeerhao_shoubb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,236},{15,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,33}}</string>
                <key>sourceSize</key>
                <string>{15,33}</string>
            </dict>
            <key>nvcikeerhao_shoubbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,257},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>nvcikeerhao_shoubc.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,296},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>nvcikeerhao_shouz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,317},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>nvcikeerhao_shouz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,230},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>nvcikeerhao_shouz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,333},{19,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>nvcikeerhao_shouz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,289},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>nvcikeerhao_shouz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,339},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>nvcikeerhao_shouz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,56},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>nvcikeerhao_shouz91.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,324},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>nvcikeerhao_shouz92.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,126},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>nvcikeerhao_shouz93.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,291},{27,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,16}}</string>
                <key>sourceSize</key>
                <string>{27,16}</string>
            </dict>
            <key>nvcikeerhao_shouz94.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,126},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>nvcikeerhao_shouz95.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,30},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>nvcikeerhao_tuiaa.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,150},{23,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,56}}</string>
                <key>sourceSize</key>
                <string>{23,56}</string>
            </dict>
            <key>nvcikeerhao_tuiab.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,219},{15,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{15,34}</string>
            </dict>
            <key>nvcikeerhao_tuiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,269},{23,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,64}}</string>
                <key>sourceSize</key>
                <string>{23,64}</string>
            </dict>
            <key>nvcikeerhao_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{22,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,156}}</string>
                <key>sourceSize</key>
                <string>{22,156}</string>
            </dict>
            <key>nvcikeerhao_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,160},{18,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,94}}</string>
                <key>sourceSize</key>
                <string>{18,94}</string>
            </dict>
            <key>nvcikeerhao_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,158},{70,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,152}}</string>
                <key>sourceSize</key>
                <string>{70,152}</string>
            </dict>
            <key>nvcikeerhao_weijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,255},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>nvcikeerhao_wuqi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,199},{18,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,47}}</string>
                <key>sourceSize</key>
                <string>{18,47}</string>
            </dict>
            <key>nvcikeerhao_wuqi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,278},{19,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,63}}</string>
                <key>sourceSize</key>
                <string>{19,63}</string>
            </dict>
            <key>nvcikeerhao_wuqia.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,248},{19,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,65}}</string>
                <key>sourceSize</key>
                <string>{19,65}</string>
            </dict>
            <key>nvcikeerhao_wuqiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,269},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>nvcikeerhao_wuqibb.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,175},{20,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,55}}</string>
                <key>sourceSize</key>
                <string>{20,55}</string>
            </dict>
            <key>nvcikeerhao_wuqidafb.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,365},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>nvcikeerhao_wuqiliand.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,273},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>nvcikeerhao_wuqiliandc.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,233},{17,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,49}}</string>
                <key>sourceSize</key>
                <string>{17,49}</string>
            </dict>
            <key>nvcikeerhao_wuqiliandl.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,497},{9,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,69}}</string>
                <key>sourceSize</key>
                <string>{9,69}</string>
            </dict>
            <key>nvcikeerhao_wuqiliandl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,273},{92,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,75}}</string>
                <key>sourceSize</key>
                <string>{92,75}</string>
            </dict>
            <key>nvcikeerhao_wuqiliandl3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{9,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,362}}</string>
                <key>sourceSize</key>
                <string>{9,362}</string>
            </dict>
            <key>nvcikeerhao_wuqiwuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,160},{21,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,95}}</string>
                <key>sourceSize</key>
                <string>{21,95}</string>
            </dict>
            <key>nvcikeerhao_xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,78},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>nvcikeerhao_xiongbu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,233},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>nvcikeerhao_xiongbu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,108},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>nvcikeerhao_xiongbu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,126},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>nvcikeerhao_xiongbu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>nvcikeerhao_xiongbu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,144},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>nvcikeerhao_yanwud.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,117},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>nvcikeerhao_yaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,270},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>nvcikeerhao_zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,273},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>nvcikeerhao_zzztexdaoying.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,350},{70,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,152}}</string>
                <key>sourceSize</key>
                <string>{70,152}</string>
            </dict>
            <key>nvcikeerhao_zzztexlx.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{154,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,153}}</string>
                <key>sourceSize</key>
                <string>{154,153}</string>
            </dict>
            <key>nvcikeerhao_zzztexlz.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,2},{49,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,269}}</string>
                <key>sourceSize</key>
                <string>{49,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nvcikeerhao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:434fbe07a342ad44b29cd6abfc4be141$</string>
            <key>textureFileName</key>
            <string>nvcikeerhao.png</string>
        </dict>
    </dict>
</plist>
