<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,219}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{211,219}}</string>
                <key>sourceSize</key>
                <string>{219,223}</string>
            </dict>
            <key>zy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{227,201}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{227,201}}</string>
                <key>sourceSize</key>
                <string>{235,205}</string>
            </dict>
            <key>zy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{255,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{255,197}}</string>
                <key>sourceSize</key>
                <string>{263,205}</string>
            </dict>
            <key>zy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,223},{188,172}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{188,172}}</string>
                <key>sourceSize</key>
                <string>{192,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:246c7f208f4783c6c2eed61579ccc7b1$</string>
            <key>textureFileName</key>
            <string>zy.png</string>
        </dict>
    </dict>
</plist>
