<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,165}}</string>
                <key>sourceSize</key>
                <string>{438,165}</string>
            </dict>
            <key>npcnamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{171,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,38}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,43},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zcjzm101.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{61,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huos1.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:796be4af5ee5c622717c652db6083bb9$</string>
            <key>textureFileName</key>
            <string>huos1.png</string>
        </dict>
    </dict>
</plist>
