<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,190}}</string>
                <key>sourceSize</key>
                <string>{362,190}</string>
            </dict>
            <key>cloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{341,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,137}}</string>
                <key>sourceSize</key>
                <string>{341,137}</string>
            </dict>
            <key>cloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{123,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,54}}</string>
                <key>sourceSize</key>
                <string>{123,54}</string>
            </dict>
            <key>cloud04.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,194},{110,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,28}}</string>
                <key>sourceSize</key>
                <string>{112,28}</string>
            </dict>
            <key>zcmaph01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,141},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yun0.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:578c9bc406af1908473c8c099eb4d11a$</string>
            <key>textureFileName</key>
            <string>yun0.png</string>
        </dict>
    </dict>
</plist>
