<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map9_g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,57}}</string>
                <key>sourceSize</key>
                <string>{12,57}</string>
            </dict>
            <key>map9_g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{10,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,53}}</string>
                <key>sourceSize</key>
                <string>{10,55}</string>
            </dict>
            <key>map9_g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{6,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,16}}</string>
                <key>sourceSize</key>
                <string>{6,16}</string>
            </dict>
            <key>map9_g4.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dd2.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ab4496ccb986583068e534731bc8ae5$</string>
            <key>textureFileName</key>
            <string>dd2.png</string>
        </dict>
    </dict>
</plist>
