<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map9_chain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{15,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,93}}</string>
                <key>sourceSize</key>
                <string>{15,93}</string>
            </dict>
            <key>map9_chain2.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,2},{12,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,84}}</string>
                <key>sourceSize</key>
                <string>{12,84}</string>
            </dict>
            <key>map9_hl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{118,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,144}}</string>
                <key>sourceSize</key>
                <string>{118,144}</string>
            </dict>
            <key>map9_hll.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{7,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{7,27}}</string>
                <key>sourceSize</key>
                <string>{9,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hl.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b46d274f1fc75a5c1f10ec5c587aaf7$</string>
            <key>textureFileName</key>
            <string>hl.png</string>
        </dict>
    </dict>
</plist>
