
server/.vs/
client/simulator/
client/runtime/
client/obj/
client/frameworks/cocos2d-x/
client/frameworks/runtime-src/proj.ios_mac/
client/frameworks/runtime-src/proj.linux/
client/frameworks/runtime-src/proj.win32/Debug/
client/frameworks/runtime-src/proj.win32/Debug.win32/
client/frameworks/runtime-src/proj.win32/Kurumi.VC.db
client/frameworks/runtime-src/proj.win32/.vs/
client/frameworks/runtime-src/proj.android-studio/.gradle/
client/frameworks/runtime-src/proj.android-studio/.idea/
client/frameworks/runtime-src/proj.android-studio/build/
client/frameworks/runtime-src/proj.android-studio/local.properties
client/frameworks/runtime-src/proj.android-studio/app/assets/
client/frameworks/runtime-src/proj.android-studio/app/build/
client/frameworks/runtime-src/proj.android-studio/app/obj/

client/kurumi_lua.config
client/kurumi_lua.luaproj
client/kurumi_lua.sln
client/UserDefault.xml
client/frameworks/runtime-src/proj.win32/Kurumi.VC.VC.opendb
client/frameworks/runtime-src/proj.android-studio/app/libs/armeabi/libcocos2dlua.so
client/cocosStudioUI/UI/KurumiUI.udf

server/server.VC.db
server/Debug/
server/server/Debug/
server/thirdparty/pro/glog/Debug

server/Release/
server/server/Release/
server/thirdparty/pro/glog/Release
server/server.VC.VC.opendb


