<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_ocr_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{320,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,103}}</string>
                <key>sourceSize</key>
                <string>{320,103}</string>
            </dict>
            <key>scene_ocr_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{320,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,111}}</string>
                <key>sourceSize</key>
                <string>{320,111}</string>
            </dict>
            <key>scene_ocr_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,67}}</string>
                <key>sourceSize</key>
                <string>{115,67}</string>
            </dict>
            <key>scene_ocr_b06.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,472},{70,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>scene_ocr_b07.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,393},{82,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,37}}</string>
                <key>sourceSize</key>
                <string>{84,37}</string>
            </dict>
            <key>scene_ocr_b08.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,388},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>scene_ocr_b09.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,393},{77,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,40}}</string>
                <key>sourceSize</key>
                <string>{77,40}</string>
            </dict>
            <key>scene_ocr_b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{85,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,23}}</string>
                <key>sourceSize</key>
                <string>{87,23}</string>
            </dict>
            <key>scene_ocr_b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{89,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,44}}</string>
                <key>sourceSize</key>
                <string>{89,44}</string>
            </dict>
            <key>scene_ocr_b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{111,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{111,18}}</string>
                <key>sourceSize</key>
                <string>{113,18}</string>
            </dict>
            <key>scene_ocr_b13.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,324},{62,39}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shu2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e44a99a4151cf57602548f6610ea2c58$</string>
            <key>textureFileName</key>
            <string>shu2.png</string>
        </dict>
    </dict>
</plist>
