<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,110}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,62},{334,110}}</string>
                <key>sourceSize</key>
                <string>{366,186}</string>
            </dict>
            <key>jiant15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,60},{35,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{35,166}}</string>
                <key>sourceSize</key>
                <string>{45,214}</string>
            </dict>
            <key>jianx15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{267,2}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{267,2}}</string>
                <key>sourceSize</key>
                <string>{373,2}</string>
            </dict>
            <key>jianx15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{290,57}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{290,57}}</string>
                <key>sourceSize</key>
                <string>{304,69}</string>
            </dict>
            <key>jiany15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,96},{19,177}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{19,177}}</string>
                <key>sourceSize</key>
                <string>{37,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_15.pvr.ccz</string>
            <key>size</key>
            <string>{630,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55b90d6ab7ce4dd36636dece4d0b424b:4ed22a927f3676da0ff705625c4e963c:5dc237c95bbdd36707f96b5101b29ae1$</string>
            <key>textureFileName</key>
            <string>falchion2_15.pvr.ccz</string>
        </dict>
    </dict>
</plist>
