<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{352,128}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,58},{352,128}}</string>
                <key>sourceSize</key>
                <string>{366,186}</string>
            </dict>
            <key>jiant8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{35,174}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,21},{35,174}}</string>
                <key>sourceSize</key>
                <string>{45,214}</string>
            </dict>
            <key>jianx8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,185},{321,2}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{321,2}}</string>
                <key>sourceSize</key>
                <string>{373,2}</string>
            </dict>
            <key>jianx8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,131},{300,53}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{300,53}}</string>
                <key>sourceSize</key>
                <string>{304,69}</string>
            </dict>
            <key>jiany8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,183}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{19,183}}</string>
                <key>sourceSize</key>
                <string>{37,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_8.pvr.ccz</string>
            <key>size</key>
            <string>{412,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:340ed7b1c4cf576027af401e2cd719b9:79fa250e374d4b67cfd51002fc5166cf:154c87e583aa6edaac48b5d94da97c63$</string>
            <key>textureFileName</key>
            <string>falchion2_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
