<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,100}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,53},{328,100}}</string>
                <key>sourceSize</key>
                <string>{366,186}</string>
            </dict>
            <key>jiant6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,54},{35,164}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,27},{35,164}}</string>
                <key>sourceSize</key>
                <string>{45,214}</string>
            </dict>
            <key>jianx6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{333,2}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{333,2}}</string>
                <key>sourceSize</key>
                <string>{373,2}</string>
            </dict>
            <key>jianx6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{298,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{298,51}}</string>
                <key>sourceSize</key>
                <string>{304,69}</string>
            </dict>
            <key>jiany6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,90},{19,177}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{19,177}}</string>
                <key>sourceSize</key>
                <string>{37,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_6.pvr.ccz</string>
            <key>size</key>
            <string>{632,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eca3881a430779433a8a13c59eca1af8:9bf6097de76481a69d34ae356897a59a:4f47eb32024093eb89d9ef9fa9ea38c2$</string>
            <key>textureFileName</key>
            <string>falchion2_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
