<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,128}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{312,128}}</string>
                <key>sourceSize</key>
                <string>{366,186}</string>
            </dict>
            <key>jiant9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{37,170}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,25},{37,170}}</string>
                <key>sourceSize</key>
                <string>{45,214}</string>
            </dict>
            <key>jianx9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{303,2}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{303,2}}</string>
                <key>sourceSize</key>
                <string>{373,2}</string>
            </dict>
            <key>jianx9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{304,55}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{304,55}}</string>
                <key>sourceSize</key>
                <string>{304,69}</string>
            </dict>
            <key>jiany9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{21,179}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{21,179}}</string>
                <key>sourceSize</key>
                <string>{37,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_9.pvr.ccz</string>
            <key>size</key>
            <string>{376,191}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb216ffd961579d1600a6f5fb4a94edd:3c8132cae60acf243b838c3a92c735a7:bc9deff9fb703b92d67177d6887ef1d3$</string>
            <key>textureFileName</key>
            <string>falchion2_9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
