<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,120}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{366,120}}</string>
                <key>sourceSize</key>
                <string>{366,186}</string>
            </dict>
            <key>jiant13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,53},{41,186}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{41,186}}</string>
                <key>sourceSize</key>
                <string>{45,214}</string>
            </dict>
            <key>jianx13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,50},{297,2}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{297,2}}</string>
                <key>sourceSize</key>
                <string>{373,2}</string>
            </dict>
            <key>jianx13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{302,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{302,47}}</string>
                <key>sourceSize</key>
                <string>{304,69}</string>
            </dict>
            <key>jiany13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,95},{19,173}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{19,173}}</string>
                <key>sourceSize</key>
                <string>{37,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_13.pvr.ccz</string>
            <key>size</key>
            <string>{674,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a923c29292607382b66e7d76f85e360:185a7f9b60d5573ef2d31664924a1678:82d42d2f90465e47bebcb646657f3fdf$</string>
            <key>textureFileName</key>
            <string>falchion2_13.pvr.ccz</string>
        </dict>
    </dict>
</plist>
