<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,168}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{366,168}}</string>
                <key>sourceSize</key>
                <string>{366,186}</string>
            </dict>
            <key>jiant14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{45,188}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{45,188}}</string>
                <key>sourceSize</key>
                <string>{45,214}</string>
            </dict>
            <key>jianx14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{297,2}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{297,2}}</string>
                <key>sourceSize</key>
                <string>{373,2}</string>
            </dict>
            <key>jianx14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{304,55}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{304,55}}</string>
                <key>sourceSize</key>
                <string>{304,69}</string>
            </dict>
            <key>jiany14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{21,177}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{21,177}}</string>
                <key>sourceSize</key>
                <string>{37,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_14.pvr.ccz</string>
            <key>size</key>
            <string>{438,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e2c5d70204f26371f1c016cc664e836:0aa56f9885159ca23e3e627e56905ea2:c9a4a540619906f97ed141ea95b15f2d$</string>
            <key>textureFileName</key>
            <string>falchion2_14.pvr.ccz</string>
        </dict>
    </dict>
</plist>
