<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,128}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,41},{320,128}}</string>
                <key>sourceSize</key>
                <string>{366,186}</string>
            </dict>
            <key>jiant10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{37,164}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,27},{37,164}}</string>
                <key>sourceSize</key>
                <string>{45,214}</string>
            </dict>
            <key>jianx10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{317,2}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{317,2}}</string>
                <key>sourceSize</key>
                <string>{373,2}</string>
            </dict>
            <key>jianx10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{294,51}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{294,51}}</string>
                <key>sourceSize</key>
                <string>{304,69}</string>
            </dict>
            <key>jiany10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{25,189}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{25,189}}</string>
                <key>sourceSize</key>
                <string>{37,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_10.pvr.ccz</string>
            <key>size</key>
            <string>{324,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e457c35f2d423438f9caf4d4a965f09e:4008237dda00fe89d13c88e6d9fc8113:dcbf19375db3aa8145f9c604a66b3094$</string>
            <key>textureFileName</key>
            <string>falchion2_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
