<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,196},{20,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,70}}</string>
                <key>sourceSize</key>
                <string>{22,72}</string>
            </dict>
            <key>daos6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{76,192}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,192}}</string>
                <key>sourceSize</key>
                <string>{78,194}</string>
            </dict>
            <key>daos6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{93,222}}</string>
                <key>sourceSize</key>
                <string>{93,224}</string>
            </dict>
            <key>daos6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,207},{50,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{50,106}}</string>
                <key>sourceSize</key>
                <string>{50,110}</string>
            </dict>
            <key>daos6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,226},{41,200}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,200}}</string>
                <key>sourceSize</key>
                <string>{43,202}</string>
            </dict>
            <key>daos6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{92,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,220}}</string>
                <key>sourceSize</key>
                <string>{92,220}</string>
            </dict>
            <key>daos6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{90,149}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{90,149}}</string>
                <key>sourceSize</key>
                <string>{94,155}</string>
            </dict>
            <key>daos6_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,378},{49,128}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,128}}</string>
                <key>sourceSize</key>
                <string>{51,136}</string>
            </dict>
            <key>daos6_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,218},{58,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,158}}</string>
                <key>sourceSize</key>
                <string>{58,160}</string>
            </dict>
            <key>daos6_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{42,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,136}}</string>
                <key>sourceSize</key>
                <string>{42,136}</string>
            </dict>
            <key>daos6_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{61,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,154}}</string>
                <key>sourceSize</key>
                <string>{63,154}</string>
            </dict>
            <key>daos6_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,153},{52,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,125}}</string>
                <key>sourceSize</key>
                <string>{52,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d2ae58e65f153f040fe80e53c0a7d5b$</string>
            <key>textureFileName</key>
            <string>falchion_6.png</string>
        </dict>
    </dict>
</plist>
