<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,123},{8,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,59}}</string>
                <key>sourceSize</key>
                <string>{8,59}</string>
            </dict>
            <key>daos12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{40,178}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{40,178}}</string>
                <key>sourceSize</key>
                <string>{42,178}</string>
            </dict>
            <key>daos12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,195}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,195}}</string>
                <key>sourceSize</key>
                <string>{71,195}</string>
            </dict>
            <key>daos12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,190},{26,96}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,96}}</string>
                <key>sourceSize</key>
                <string>{28,98}</string>
            </dict>
            <key>daos12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{23,175}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,175}}</string>
                <key>sourceSize</key>
                <string>{25,175}</string>
            </dict>
            <key>daos12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{58,195}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,195}}</string>
                <key>sourceSize</key>
                <string>{60,195}</string>
            </dict>
            <key>daos12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,151},{61,133}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,133}}</string>
                <key>sourceSize</key>
                <string>{63,133}</string>
            </dict>
            <key>daos12_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{24,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,125}}</string>
                <key>sourceSize</key>
                <string>{26,125}</string>
            </dict>
            <key>daos12_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{50,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,147}}</string>
                <key>sourceSize</key>
                <string>{52,147}</string>
            </dict>
            <key>daos12_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{25,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,136}}</string>
                <key>sourceSize</key>
                <string>{27,136}</string>
            </dict>
            <key>daos12_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{45,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,142}}</string>
                <key>sourceSize</key>
                <string>{47,142}</string>
            </dict>
            <key>daos12_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,288},{47,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,120}}</string>
                <key>sourceSize</key>
                <string>{49,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_12.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffce82f2e564a727416959fd3b4ce7a4$</string>
            <key>textureFileName</key>
            <string>falchion_12.png</string>
        </dict>
    </dict>
</plist>
