<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,217},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>daos_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{39,208}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{39,208}}</string>
                <key>sourceSize</key>
                <string>{39,218}</string>
            </dict>
            <key>daos_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{171,71}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{171,71}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>daos_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,249},{40,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,107}}</string>
                <key>sourceSize</key>
                <string>{40,109}</string>
            </dict>
            <key>daos_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,209}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{40,209}}</string>
                <key>sourceSize</key>
                <string>{40,245}</string>
            </dict>
            <key>daos_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{173,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{173,57}}</string>
                <key>sourceSize</key>
                <string>{173,65}</string>
            </dict>
            <key>daos_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{59,150}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,150}}</string>
                <key>sourceSize</key>
                <string>{71,152}</string>
            </dict>
            <key>daos_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{40,122}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,122}}</string>
                <key>sourceSize</key>
                <string>{44,126}</string>
            </dict>
            <key>daos_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,254},{49,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,124}}</string>
                <key>sourceSize</key>
                <string>{49,126}</string>
            </dict>
            <key>daos_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{38,128}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,128}}</string>
                <key>sourceSize</key>
                <string>{38,160}</string>
            </dict>
            <key>daos_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,85},{30,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,124}}</string>
                <key>sourceSize</key>
                <string>{38,124}</string>
            </dict>
            <key>daos_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,126},{42,121}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,121}}</string>
                <key>sourceSize</key>
                <string>{48,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:984125d8afd6dc6e8c098e8fe62b9077$</string>
            <key>textureFileName</key>
            <string>falchion_1.png</string>
        </dict>
    </dict>
</plist>
