<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,106}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{318,106}}</string>
                <key>sourceSize</key>
                <string>{366,186}</string>
            </dict>
            <key>jiant3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,60},{45,172}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{45,172}}</string>
                <key>sourceSize</key>
                <string>{45,214}</string>
            </dict>
            <key>jianx3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,106},{265,2}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{265,2}}</string>
                <key>sourceSize</key>
                <string>{373,2}</string>
            </dict>
            <key>jianx3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{292,57}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{292,57}}</string>
                <key>sourceSize</key>
                <string>{304,69}</string>
            </dict>
            <key>jiany3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,60},{31,177}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{31,177}}</string>
                <key>sourceSize</key>
                <string>{37,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_3.pvr.ccz</string>
            <key>size</key>
            <string>{674,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9786bfcf0f75367810a06b56822526b3:ed749eee267a9e5ae5d7139cc0f91e14:73c714716fa45fe01e787d703a4ad553$</string>
            <key>textureFileName</key>
            <string>falchion2_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
