<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,367},{14,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,61}}</string>
                <key>sourceSize</key>
                <string>{14,61}</string>
            </dict>
            <key>daos13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{62,204}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,204}}</string>
                <key>sourceSize</key>
                <string>{62,206}</string>
            </dict>
            <key>daos13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,215}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,215}}</string>
                <key>sourceSize</key>
                <string>{80,217}</string>
            </dict>
            <key>daos13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,156},{52,123}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,123}}</string>
                <key>sourceSize</key>
                <string>{52,125}</string>
            </dict>
            <key>daos13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,219},{48,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,201}}</string>
                <key>sourceSize</key>
                <string>{48,201}</string>
            </dict>
            <key>daos13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{72,213}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,213}}</string>
                <key>sourceSize</key>
                <string>{72,215}</string>
            </dict>
            <key>daos13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{85,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,159}}</string>
                <key>sourceSize</key>
                <string>{89,159}</string>
            </dict>
            <key>daos13_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,367},{52,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,129}}</string>
                <key>sourceSize</key>
                <string>{52,129}</string>
            </dict>
            <key>daos13_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{60,152}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,152}}</string>
                <key>sourceSize</key>
                <string>{60,154}</string>
            </dict>
            <key>daos13_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,219},{44,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,140}}</string>
                <key>sourceSize</key>
                <string>{44,142}</string>
            </dict>
            <key>daos13_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,219},{51,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,146}}</string>
                <key>sourceSize</key>
                <string>{51,148}</string>
            </dict>
            <key>daos13_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,163},{54,125}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{54,125}}</string>
                <key>sourceSize</key>
                <string>{54,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_13.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecb0ba2c03db41d4d9534b8edb6311b5$</string>
            <key>textureFileName</key>
            <string>falchion_13.png</string>
        </dict>
    </dict>
</plist>
