<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,174},{20,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,72}}</string>
                <key>sourceSize</key>
                <string>{20,72}</string>
            </dict>
            <key>daos8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,211},{56,173}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,173}}</string>
                <key>sourceSize</key>
                <string>{58,177}</string>
            </dict>
            <key>daos8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,207}}</string>
                <key>sourceSize</key>
                <string>{98,207}</string>
            </dict>
            <key>daos8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,122},{52,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,99}}</string>
                <key>sourceSize</key>
                <string>{54,99}</string>
            </dict>
            <key>daos8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{42,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,170}}</string>
                <key>sourceSize</key>
                <string>{42,170}</string>
            </dict>
            <key>daos8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{95,207}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,207}}</string>
                <key>sourceSize</key>
                <string>{97,207}</string>
            </dict>
            <key>daos8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{89,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,145}}</string>
                <key>sourceSize</key>
                <string>{91,145}</string>
            </dict>
            <key>daos8_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,386},{52,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,123}}</string>
                <key>sourceSize</key>
                <string>{54,123}</string>
            </dict>
            <key>daos8_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,196},{72,152}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,152}}</string>
                <key>sourceSize</key>
                <string>{74,154}</string>
            </dict>
            <key>daos8_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,350},{43,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,134}}</string>
                <key>sourceSize</key>
                <string>{43,134}</string>
            </dict>
            <key>daos8_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{73,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,157}}</string>
                <key>sourceSize</key>
                <string>{75,157}</string>
            </dict>
            <key>daos8_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{62,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,118}}</string>
                <key>sourceSize</key>
                <string>{66,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3179f89d5c239638f122cbfbc4c2e590$</string>
            <key>textureFileName</key>
            <string>falchion_8.png</string>
        </dict>
    </dict>
</plist>
