<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_xl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,205},{71,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>hero_xl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{47,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,128}}</string>
                <key>sourceSize</key>
                <string>{47,128}</string>
            </dict>
            <key>hero_xl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,397},{25,43}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>hero_xl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,438},{23,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,49}}</string>
                <key>sourceSize</key>
                <string>{23,51}</string>
            </dict>
            <key>hero_xl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,461},{41,50}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,50}}</string>
                <key>sourceSize</key>
                <string>{49,60}</string>
            </dict>
            <key>hero_xl_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,168},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>hero_xl_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,225},{38,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,62}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>hero_xl_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,56},{38,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{38,89}</string>
            </dict>
            <key>hero_xl_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,523},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>hero_xl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,240},{31,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,63}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>hero_xl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,358},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>hero_xl_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,366},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>hero_xl_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{141,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,87}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>hero_xl_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,511},{22,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>hero_xl_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,51},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_xl_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,530},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>hero_xl_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,380},{20,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,58}}</string>
                <key>sourceSize</key>
                <string>{20,58}</string>
            </dict>
            <key>hero_xl_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,490},{23,39}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>hero_xl_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,51},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_xl_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,419},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>hero_xl_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,492},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>hero_xl_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,500},{39,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>hero_xl_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,502},{26,45}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>hero_xl_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,535},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>hero_xl_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,528},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>hero_xl_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>hero_xl_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,465},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>hero_xl_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,96},{84,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,70}}</string>
                <key>sourceSize</key>
                <string>{84,70}</string>
            </dict>
            <key>hero_xl_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,424},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,41}</string>
            </dict>
            <key>hero_xl_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,319},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>hero_xl_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,488},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>hero_xl_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,168},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,78}}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
            <key>hero_xl_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,289},{40,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>hero_xl_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,468},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>hero_xl_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,394},{30,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>hero_xl_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,441},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>hero_xl_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,305},{31,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>hero_xl_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,91},{134,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,77}}</string>
                <key>sourceSize</key>
                <string>{134,77}</string>
            </dict>
            <key>hero_xl_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,51},{125,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{125,70}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>hero_xl_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{138,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{138,51}}</string>
                <key>sourceSize</key>
                <string>{140,53}</string>
            </dict>
            <key>hero_xl_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{133,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,58}}</string>
                <key>sourceSize</key>
                <string>{135,64}</string>
            </dict>
            <key>hero_xl_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{118,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,54}}</string>
                <key>sourceSize</key>
                <string>{120,54}</string>
            </dict>
            <key>hero_xl_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,323},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>hero_xl_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,460},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>hero_xl_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,515},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>hero_xl_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,402},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>hero_xl_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,242},{65,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>hero_xl_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,284},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>hero_xl_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,538},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>hero_xl_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,468},{28,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>hero_xl_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{39,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{39,64}}</string>
                <key>sourceSize</key>
                <string>{41,66}</string>
            </dict>
            <key>hero_xl_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,530},{24,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>hero_xl_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,504},{20,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hero_xl_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,498},{45,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>hero_xl_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{24,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>hero_xl_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,22}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>hero_xl_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,307},{39,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{39,69}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>hero_xl_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,426},{24,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,54}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>hero_xl_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,504},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>hero_xl_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,205},{35,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{35,66}</string>
            </dict>
            <key>hero_xl_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,468},{41,41}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>hero_xl_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,291},{65,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,30}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>hero_xl_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,357},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,28}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>hero_xl_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,170},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,34}</string>
            </dict>
            <key>hero_xl_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,354},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>hero_xl_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,363},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>hero_xl_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,284},{56,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>hero_xl_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,452},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>hero_xl_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,393},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>hero_xl_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,91},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>hero_xl_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,278},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>hero_xl_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,52}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_xl_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,504},{37,27}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>hero_xl_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,319},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>hero_xl_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,473},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_xl_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,504},{34,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,40}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>hero_xl_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>hero_xl_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{71,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>hero_xl_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{76,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{76,71}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
            <key>hero_xl_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,431},{40,49}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{40,49}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>hero_xl_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,418},{40,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,55}}</string>
                <key>sourceSize</key>
                <string>{40,61}</string>
            </dict>
            <key>hero_xl_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,170},{116,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>hero_xl_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,412},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>hero_xl_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,388},{29,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>hero_xl_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,512},{27,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>hero_xl_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,353},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>hero_xl_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,240},{33,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{33,76}}</string>
                <key>sourceSize</key>
                <string>{35,82}</string>
            </dict>
            <key>hero_xl_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{34,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,78}}</string>
                <key>sourceSize</key>
                <string>{34,78}</string>
            </dict>
            <key>hero_xl_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,275},{30,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,76}}</string>
                <key>sourceSize</key>
                <string>{30,76}</string>
            </dict>
            <key>hero_xl_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,278},{39,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,72}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>hero_xl_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,342},{19,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,71}}</string>
                <key>sourceSize</key>
                <string>{19,71}</string>
            </dict>
            <key>hero_xl_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,406},{23,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,65}}</string>
                <key>sourceSize</key>
                <string>{23,65}</string>
            </dict>
            <key>hero_xl_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,348},{25,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,69}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>hero_xl_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,375},{29,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,68}}</string>
                <key>sourceSize</key>
                <string>{29,68}</string>
            </dict>
            <key>hero_xl_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,463},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_xl_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,211},{100,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,27}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>hero_xl_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,123},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_xiuluo_body.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f779eee4405a13ec173cbe61764ee27$</string>
            <key>textureFileName</key>
            <string>hero_xiuluo_body.png</string>
        </dict>
    </dict>
</plist>
