<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_shizxianzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,453},{62,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>hero_shizxianzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,223},{43,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,112}}</string>
                <key>sourceSize</key>
                <string>{43,112}</string>
            </dict>
            <key>hero_shizxianzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,355},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>hero_shizxianzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,405},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,50}</string>
            </dict>
            <key>hero_shizxianzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,254},{41,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,49}}</string>
                <key>sourceSize</key>
                <string>{43,49}</string>
            </dict>
            <key>hero_shizxianzi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,497},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>hero_shizxianzi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,328},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>hero_shizxianzi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,150},{34,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,85}}</string>
                <key>sourceSize</key>
                <string>{34,87}</string>
            </dict>
            <key>hero_shizxianzi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,505},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>hero_shizxianzi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,371},{29,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>hero_shizxianzi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,448},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>hero_shizxianzi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,434},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>hero_shizxianzi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{141,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,87}}</string>
                <key>sourceSize</key>
                <string>{141,87}</string>
            </dict>
            <key>hero_shizxianzi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,466},{25,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,39}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>hero_shizxianzi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,23},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizxianzi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,563},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>hero_shizxianzi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,283},{20,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,58}}</string>
                <key>sourceSize</key>
                <string>{20,58}</string>
            </dict>
            <key>hero_shizxianzi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,211},{23,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,41}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>hero_shizxianzi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,23},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizxianzi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,316},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>hero_shizxianzi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,525},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>hero_shizxianzi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,507},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>hero_shizxianzi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,421},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>hero_shizxianzi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,556},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>hero_shizxianzi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,521},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>hero_shizxianzi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,268},{72,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,58}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>hero_shizxianzi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,482},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>hero_shizxianzi_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{55,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>hero_shizxianzi_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,462},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>hero_shizxianzi_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,389},{59,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>hero_shizxianzi_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,388},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>hero_shizxianzi_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,56},{37,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{37,76}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>hero_shizxianzi_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,463},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>hero_shizxianzi_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,498},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>hero_shizxianzi_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>hero_shizxianzi_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,421},{51,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>hero_shizxianzi_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,520},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>hero_shizxianzi_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{124,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,61}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>hero_shizxianzi_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{159,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,56}}</string>
                <key>sourceSize</key>
                <string>{159,56}</string>
            </dict>
            <key>hero_shizxianzi_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{156,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,51}}</string>
                <key>sourceSize</key>
                <string>{156,51}</string>
            </dict>
            <key>hero_shizxianzi_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,60},{149,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,52}}</string>
                <key>sourceSize</key>
                <string>{149,52}</string>
            </dict>
            <key>hero_shizxianzi_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,114},{144,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,46}}</string>
                <key>sourceSize</key>
                <string>{150,46}</string>
            </dict>
            <key>hero_shizxianzi_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,338},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>hero_shizxianzi_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,305},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>hero_shizxianzi_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,535},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>hero_shizxianzi_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,402},{63,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{65,59}</string>
            </dict>
            <key>hero_shizxianzi_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,95},{73,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,53}}</string>
                <key>sourceSize</key>
                <string>{75,53}</string>
            </dict>
            <key>hero_shizxianzi_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{69,39}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>hero_shizxianzi_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,550},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>hero_shizxianzi_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,525},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>hero_shizxianzi_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,283},{73,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,50}}</string>
                <key>sourceSize</key>
                <string>{73,50}</string>
            </dict>
            <key>hero_shizxianzi_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,535},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>hero_shizxianzi_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,501},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hero_shizxianzi_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,268},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>hero_shizxianzi_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,455},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>hero_shizxianzi_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,476},{50,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,19}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>hero_shizxianzi_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,386},{33,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,71}}</string>
                <key>sourceSize</key>
                <string>{33,71}</string>
            </dict>
            <key>hero_shizxianzi_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
            <key>hero_shizxianzi_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,497},{22,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>hero_shizxianzi_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,318},{37,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,72}</string>
            </dict>
            <key>hero_shizxianzi_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,459},{39,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hero_shizxianzi_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,335},{65,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>hero_shizxianzi_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,381},{29,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{29,28}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>hero_shizxianzi_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,487},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,34}</string>
            </dict>
            <key>hero_shizxianzi_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,433},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>hero_shizxianzi_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,517},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>hero_shizxianzi_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>hero_shizxianzi_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,296},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>hero_shizxianzi_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,399},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,59}</string>
            </dict>
            <key>hero_shizxianzi_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,109},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>hero_shizxianzi_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,501},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>hero_shizxianzi_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,52}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_shizxianzi_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,486},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>hero_shizxianzi_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,343},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>hero_shizxianzi_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,382},{47,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,21}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_shizxianzi_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,450},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>hero_shizxianzi_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,412},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>hero_shizxianzi_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{62,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hero_shizxianzi_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,371},{63,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>hero_shizxianzi_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,345},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>hero_shizxianzi_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,318},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,51}}</string>
                <key>sourceSize</key>
                <string>{72,51}</string>
            </dict>
            <key>hero_shizxianzi_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,109},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>hero_shizxianzi_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,433},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>hero_shizxianzi_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,23},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizxianzi_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,23},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizxianzi_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,23},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizxianzi_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{33,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,126}}</string>
                <key>sourceSize</key>
                <string>{33,126}</string>
            </dict>
            <key>hero_shizxianzi_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,282},{34,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,112}}</string>
                <key>sourceSize</key>
                <string>{34,112}</string>
            </dict>
            <key>hero_shizxianzi_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,244},{36,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,112}}</string>
                <key>sourceSize</key>
                <string>{36,112}</string>
            </dict>
            <key>hero_shizxianzi_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,56},{51,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,100}}</string>
                <key>sourceSize</key>
                <string>{51,100}</string>
            </dict>
            <key>hero_shizxianzi_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{19,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,109}}</string>
                <key>sourceSize</key>
                <string>{19,109}</string>
            </dict>
            <key>hero_shizxianzi_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,250},{31,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,95}}</string>
                <key>sourceSize</key>
                <string>{31,95}</string>
            </dict>
            <key>hero_shizxianzi_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,23},{31,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,101}}</string>
                <key>sourceSize</key>
                <string>{31,101}</string>
            </dict>
            <key>hero_shizxianzi_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,186},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>hero_shizxianzi_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,162},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_shizxianzi_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,221},{100,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,27}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>hero_shizxianzi_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,162},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_shizxianzi_body.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32fdeec8b90cc73a41ee7c7e5863b4ea$</string>
            <key>textureFileName</key>
            <string>hero_shizxianzi_body.png</string>
        </dict>
    </dict>
</plist>
