<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_shizxinzhang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,145},{93,93}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{93,93}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>hero_shizxinzhang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{61,162}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{61,162}}</string>
                <key>sourceSize</key>
                <string>{77,190}</string>
            </dict>
            <key>hero_shizxinzhang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,297},{25,49}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{25,49}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>hero_shizxinzhang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,144},{29,57}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{29,57}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>hero_shizxinzhang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,140},{43,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{43,60}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>hero_shizxinzhang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,201},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{14,17}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>hero_shizxinzhang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,179},{66,64}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{66,64}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>hero_shizxinzhang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,55},{38,79}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{38,79}}</string>
                <key>sourceSize</key>
                <string>{50,103}</string>
            </dict>
            <key>hero_shizxinzhang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,201},{36,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{36,27}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>hero_shizxinzhang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,238},{33,67}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{33,67}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>hero_shizxinzhang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,91},{52,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{52,60}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>hero_shizxinzhang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,238},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{58,26}}</string>
                <key>sourceSize</key>
                <string>{78,46}</string>
            </dict>
            <key>hero_shizxinzhang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{143,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,89}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>hero_shizxinzhang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,294},{28,41}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{28,41}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>hero_shizxinzhang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,255},{1,1}}</string>
                <key>offset</key>
                <string>{-28.5,30.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>hero_shizxinzhang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,295},{27,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{27,26}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>hero_shizxinzhang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,56},{34,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{34,58}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>hero_shizxinzhang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,255},{29,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{29,43}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>hero_shizxinzhang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,255},{1,1}}</string>
                <key>offset</key>
                <string>{-29,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>hero_shizxinzhang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,200},{37,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{37,53}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>hero_shizxinzhang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,208},{24,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{24,28}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>hero_shizxinzhang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,178},{45,29}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{45,29}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>hero_shizxinzhang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,163},{24,47}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>hero_shizxinzhang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,237},{24,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{24,24}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>hero_shizxinzhang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,302},{18,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{18,33}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>hero_shizxinzhang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,174},{64,70}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{64,70}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>hero_shizxinzhang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,211},{37,53}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{37,53}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>hero_shizxinzhang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,55},{92,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>hero_shizxinzhang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,109},{57,49}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{57,49}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>hero_shizxinzhang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,178},{67,51}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,51}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>hero_shizxinzhang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,55},{56,53}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{56,53}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>hero_shizxinzhang_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,246},{43,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{43,76}}</string>
                <key>sourceSize</key>
                <string>{55,92}</string>
            </dict>
            <key>hero_shizxinzhang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,171},{70,67}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{70,67}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>hero_shizxinzhang_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,107},{39,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{39,36}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>hero_shizxinzhang_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,91},{52,91}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{52,91}}</string>
                <key>sourceSize</key>
                <string>{74,111}</string>
            </dict>
            <key>hero_shizxinzhang_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{55,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{55,27}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>hero_shizxinzhang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,239},{51,85}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{51,85}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>hero_shizxinzhang_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{142,95}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{142,95}}</string>
                <key>sourceSize</key>
                <string>{198,95}</string>
            </dict>
            <key>hero_shizxinzhang_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{157,74}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,16},{157,74}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>hero_shizxinzhang_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{162,53}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{162,53}}</string>
                <key>sourceSize</key>
                <string>{206,105}</string>
            </dict>
            <key>hero_shizxinzhang_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{145,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{145,52}}</string>
                <key>sourceSize</key>
                <string>{151,74}</string>
            </dict>
            <key>hero_shizxinzhang_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,151},{142,54}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{142,54}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>hero_shizxinzhang_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,159},{51,57}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{51,57}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>hero_shizxinzhang_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,163},{42,50}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>hero_shizxinzhang_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,257},{24,35}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{24,35}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>hero_shizxinzhang_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,238},{51,55}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{51,55}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>hero_shizxinzhang_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,56},{63,47}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{63,47}}</string>
                <key>sourceSize</key>
                <string>{77,53}</string>
            </dict>
            <key>hero_shizxinzhang_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,94},{63,45}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{63,45}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>hero_shizxinzhang_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,262},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{25,27}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>hero_shizxinzhang_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,296},{34,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{34,26}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>hero_shizxinzhang_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,56},{63,66}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{63,66}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>hero_shizxinzhang_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,302},{22,19}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{22,19}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>hero_shizxinzhang_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,296},{26,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{26,36}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>hero_shizxinzhang_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,94},{45,45}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{45,45}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>hero_shizxinzhang_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,296},{24,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{24,26}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>hero_shizxinzhang_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,294},{53,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{53,28}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>hero_shizxinzhang_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,171},{39,73}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{39,73}}</string>
                <key>sourceSize</key>
                <string>{51,91}</string>
            </dict>
            <key>hero_shizxinzhang_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,261},{34,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{34,54}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>hero_shizxinzhang_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{22,31}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{22,31}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>hero_shizxinzhang_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,36},{39,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{39,70}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>hero_shizxinzhang_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,157},{45,47}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{45,47}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>hero_shizxinzhang_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,120},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{65,36}}</string>
                <key>sourceSize</key>
                <string>{131,84}</string>
            </dict>
            <key>hero_shizxinzhang_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,255},{1,1}}</string>
                <key>offset</key>
                <string>{-25,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>hero_shizxinzhang_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,306},{16,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{16,32}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>hero_shizxinzhang_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,211},{51,49}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{51,49}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>hero_shizxinzhang_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,174},{63,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{63,54}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>hero_shizxinzhang_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,239},{70,83}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{70,83}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>hero_shizxinzhang_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,214},{40,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{40,53}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>hero_shizxinzhang_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,140},{58,59}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,59}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>hero_shizxinzhang_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,25},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{18,10}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>hero_shizxinzhang_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,302},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{20,17}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero_shizxinzhang_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,52}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_shizxinzhang_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,144},{39,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{39,33}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>hero_shizxinzhang_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,265},{38,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{38,30}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>hero_shizxinzhang_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,211},{49,23}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{49,23}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>hero_shizxinzhang_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,120},{48,42}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{48,42}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>hero_shizxinzhang_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,265},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{30,41}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>hero_shizxinzhang_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,77},{93,93}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{93,93}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>hero_shizxinzhang_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,246},{58,71}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{58,71}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>hero_shizxinzhang_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,246},{60,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{60,76}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>hero_shizxinzhang_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,245},{68,61}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{68,61}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hero_shizxinzhang_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,146},{118,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>hero_shizxinzhang_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,214},{42,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{42,24}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>hero_shizxinzhang_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,255},{1,1}}</string>
                <key>offset</key>
                <string>{-20,26.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>hero_shizxinzhang_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,255},{1,1}}</string>
                <key>offset</key>
                <string>{-21,23.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>hero_shizxinzhang_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,255},{1,1}}</string>
                <key>offset</key>
                <string>{-30.5,28.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>hero_shizxinzhang_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{33,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{33,122}}</string>
                <key>sourceSize</key>
                <string>{37,154}</string>
            </dict>
            <key>hero_shizxinzhang_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,56},{34,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,112}}</string>
                <key>sourceSize</key>
                <string>{34,112}</string>
            </dict>
            <key>hero_shizxinzhang_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,265},{36,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,112}}</string>
                <key>sourceSize</key>
                <string>{36,114}</string>
            </dict>
            <key>hero_shizxinzhang_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,77},{51,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,100}}</string>
                <key>sourceSize</key>
                <string>{51,100}</string>
            </dict>
            <key>hero_shizxinzhang_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,36},{19,107}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,107}}</string>
                <key>sourceSize</key>
                <string>{19,109}</string>
            </dict>
            <key>hero_shizxinzhang_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,144},{29,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,95}}</string>
                <key>sourceSize</key>
                <string>{31,95}</string>
            </dict>
            <key>hero_shizxinzhang_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,77},{29,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,101}}</string>
                <key>sourceSize</key>
                <string>{31,101}</string>
            </dict>
            <key>hero_shizxinzhang_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,238},{25,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{25,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>hero_shizxinzhang_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,299},{47,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{47,23}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>hero_shizxinzhang_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,291},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{102,29}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>hero_shizxinzhang_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,64},{132,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_shizxinzhang_body.pvr.ccz</string>
            <key>size</key>
            <string>{1024,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c56c22151055971afae3a601664e18da:733b882f49f28fa4f5412a7c8973970b:8f85a4f194f6f98416e1015832adc382$</string>
            <key>textureFileName</key>
            <string>hero_shizxinzhang_body.pvr.ccz</string>
        </dict>
    </dict>
</plist>
