<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_shizconglin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,199},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>hero_shizconglin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,380},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>hero_shizconglin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,177},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>hero_shizconglin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,343},{23,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,49}}</string>
                <key>sourceSize</key>
                <string>{23,51}</string>
            </dict>
            <key>hero_shizconglin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,138},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>hero_shizconglin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,240},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>hero_shizconglin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,184},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>hero_shizconglin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,87},{30,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,85}}</string>
                <key>sourceSize</key>
                <string>{30,87}</string>
            </dict>
            <key>hero_shizconglin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,289},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>hero_shizconglin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,267},{29,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,65}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>hero_shizconglin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>hero_shizconglin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,240},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>hero_shizconglin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{141,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,87}}</string>
                <key>sourceSize</key>
                <string>{141,87}</string>
            </dict>
            <key>hero_shizconglin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,270},{22,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>hero_shizconglin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,394},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>hero_shizconglin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,268},{20,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,58}}</string>
                <key>sourceSize</key>
                <string>{20,58}</string>
            </dict>
            <key>hero_shizconglin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,464},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>hero_shizconglin_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,316},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>hero_shizconglin_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,278},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>hero_shizconglin_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,412},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>hero_shizconglin_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,319},{20,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,39}}</string>
                <key>sourceSize</key>
                <string>{22,41}</string>
            </dict>
            <key>hero_shizconglin_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,440},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>hero_shizconglin_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,343},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>hero_shizconglin_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{78,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,54}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>hero_shizconglin_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,303},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
            <key>hero_shizconglin_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,116},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>hero_shizconglin_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,312},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>hero_shizconglin_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,147},{59,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{61,43}</string>
            </dict>
            <key>hero_shizconglin_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,369},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>hero_shizconglin_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,164},{33,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{33,76}}</string>
                <key>sourceSize</key>
                <string>{33,80}</string>
            </dict>
            <key>hero_shizconglin_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,226},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>hero_shizconglin_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,455},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>hero_shizconglin_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,286},{28,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,51}}</string>
                <key>sourceSize</key>
                <string>{28,55}</string>
            </dict>
            <key>hero_shizconglin_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,278},{53,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,23}}</string>
                <key>sourceSize</key>
                <string>{53,23}</string>
            </dict>
            <key>hero_shizconglin_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{31,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>hero_shizconglin_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,183},{50,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>hero_shizconglin_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,316},{49,28}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{49,28}}</string>
                <key>sourceSize</key>
                <string>{55,32}</string>
            </dict>
            <key>hero_shizconglin_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,298},{54,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
            <key>hero_shizconglin_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,177},{55,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,26}}</string>
                <key>sourceSize</key>
                <string>{55,26}</string>
            </dict>
            <key>hero_shizconglin_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,123},{52,22}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>hero_shizconglin_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,192},{65,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,45}}</string>
                <key>sourceSize</key>
                <string>{65,45}</string>
            </dict>
            <key>hero_shizconglin_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>hero_shizconglin_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,290},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>hero_shizconglin_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,116},{59,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,55}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>hero_shizconglin_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,205},{57,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>hero_shizconglin_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,119},{79,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,43}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>hero_shizconglin_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,353},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>hero_shizconglin_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,410},{28,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>hero_shizconglin_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,91},{61,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,54}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>hero_shizconglin_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,380},{26,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>hero_shizconglin_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,309},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hero_shizconglin_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{45,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,45}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>hero_shizconglin_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,410},{24,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>hero_shizconglin_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,290},{53,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,20}}</string>
                <key>sourceSize</key>
                <string>{53,22}</string>
            </dict>
            <key>hero_shizconglin_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,268},{29,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,69}}</string>
                <key>sourceSize</key>
                <string>{29,69}</string>
            </dict>
            <key>hero_shizconglin_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,252},{24,56}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>hero_shizconglin_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,308},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>hero_shizconglin_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,228},{37,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,68}}</string>
                <key>sourceSize</key>
                <string>{37,72}</string>
            </dict>
            <key>hero_shizconglin_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,414},{39,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,35}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hero_shizconglin_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,222},{65,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,30}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>hero_shizconglin_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,87},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,34}</string>
            </dict>
            <key>hero_shizconglin_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>hero_shizconglin_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>hero_shizconglin_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,91},{66,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,77}}</string>
                <key>sourceSize</key>
                <string>{66,77}</string>
            </dict>
            <key>hero_shizconglin_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,342},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>hero_shizconglin_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,288},{54,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>sourceSize</key>
                <string>{54,47}</string>
            </dict>
            <key>hero_shizconglin_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>hero_shizconglin_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,376},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>hero_shizconglin_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,52}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_shizconglin_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,424},{37,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>hero_shizconglin_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,380},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>hero_shizconglin_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,346},{47,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,21}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_shizconglin_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,457},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,40}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
            <key>hero_shizconglin_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,414},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>hero_shizconglin_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,159},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>hero_shizconglin_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>hero_shizconglin_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,299},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>hero_shizconglin_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,239},{66,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,47}}</string>
                <key>sourceSize</key>
                <string>{66,47}</string>
            </dict>
            <key>hero_shizconglin_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>hero_shizconglin_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,463},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>hero_shizconglin_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizconglin_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,345},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_shizconglin_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,56},{100,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>hero_shizconglin_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_conglin_body.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c42d64009f176dd2facb60cc074765$</string>
            <key>textureFileName</key>
            <string>hero_conglin_body.png</string>
        </dict>
    </dict>
</plist>
