<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_shizwushikaijia_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,116},{80,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,77}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>hero_shizwushikaijia_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,330},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>hero_shizwushikaijia_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,116},{26,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,50}</string>
            </dict>
            <key>hero_shizwushikaijia_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,372},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>hero_shizwushikaijia_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,141},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>hero_shizwushikaijia_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,247},{73,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,47}}</string>
                <key>sourceSize</key>
                <string>{73,47}</string>
            </dict>
            <key>hero_shizwushikaijia_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,91},{48,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,87}}</string>
                <key>sourceSize</key>
                <string>{48,87}</string>
            </dict>
            <key>hero_shizwushikaijia_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,383},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>hero_shizwushikaijia_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,296},{35,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,65}}</string>
                <key>sourceSize</key>
                <string>{35,65}</string>
            </dict>
            <key>hero_shizwushikaijia_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,458},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>hero_shizwushikaijia_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,138},{58,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>hero_shizwushikaijia_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{141,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,87}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>hero_shizwushikaijia_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,416},{25,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,39}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>hero_shizwushikaijia_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,415},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>hero_shizwushikaijia_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,305},{22,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,58}}</string>
                <key>sourceSize</key>
                <string>{22,58}</string>
            </dict>
            <key>hero_shizwushikaijia_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,335},{23,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{23,41}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>hero_shizwushikaijia_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,280},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>hero_shizwushikaijia_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,329},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>hero_shizwushikaijia_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>hero_shizwushikaijia_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,357},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,45}</string>
            </dict>
            <key>hero_shizwushikaijia_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,415},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>hero_shizwushikaijia_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,296},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>hero_shizwushikaijia_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,141},{78,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,57}}</string>
                <key>sourceSize</key>
                <string>{78,57}</string>
            </dict>
            <key>hero_shizwushikaijia_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,297},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>hero_shizwushikaijia_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,139},{74,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>hero_shizwushikaijia_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,375},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>hero_shizwushikaijia_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,91},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>hero_shizwushikaijia_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,395},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>hero_shizwushikaijia_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,166},{43,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>hero_shizwushikaijia_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,252},{72,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,51}}</string>
                <key>sourceSize</key>
                <string>{72,51}</string>
            </dict>
            <key>hero_shizwushikaijia_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,443},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>hero_shizwushikaijia_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,329},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>hero_shizwushikaijia_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,345},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>hero_shizwushikaijia_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,422},{34,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,51}}</string>
                <key>sourceSize</key>
                <string>{34,51}</string>
            </dict>
            <key>hero_shizwushikaijia_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,200},{78,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>hero_shizwushikaijia_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,338},{44,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{46,54}</string>
            </dict>
            <key>hero_shizwushikaijia_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,305},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>hero_shizwushikaijia_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,223},{72,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>hero_shizwushikaijia_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,136},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>hero_shizwushikaijia_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,215},{73,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,39}}</string>
                <key>sourceSize</key>
                <string>{73,39}</string>
            </dict>
            <key>hero_shizwushikaijia_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,479},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>hero_shizwushikaijia_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,383},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>hero_shizwushikaijia_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,195},{75,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,50}}</string>
                <key>sourceSize</key>
                <string>{75,50}</string>
            </dict>
            <key>hero_shizwushikaijia_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,415},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>hero_shizwushikaijia_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,390},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>hero_shizwushikaijia_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,458},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>hero_shizwushikaijia_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{25,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,28}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>hero_shizwushikaijia_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,458},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>hero_shizwushikaijia_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,144},{47,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,79}</string>
            </dict>
            <key>hero_shizwushikaijia_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,315},{28,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,54}}</string>
                <key>sourceSize</key>
                <string>{28,54}</string>
            </dict>
            <key>hero_shizwushikaijia_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,333},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>hero_shizwushikaijia_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,208},{41,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,70}}</string>
                <key>sourceSize</key>
                <string>{41,70}</string>
            </dict>
            <key>hero_shizwushikaijia_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,345},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>hero_shizwushikaijia_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,262},{65,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,36}}</string>
                <key>sourceSize</key>
                <string>{67,38}</string>
            </dict>
            <key>hero_shizwushikaijia_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,443},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>hero_shizwushikaijia_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,252},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,34}</string>
            </dict>
            <key>hero_shizwushikaijia_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,287},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>hero_shizwushikaijia_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,300},{64,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,43}}</string>
                <key>sourceSize</key>
                <string>{68,45}</string>
            </dict>
            <key>hero_shizwushikaijia_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,83},{54,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,92}}</string>
                <key>sourceSize</key>
                <string>{56,94}</string>
            </dict>
            <key>hero_shizwushikaijia_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,384},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>hero_shizwushikaijia_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,256},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,57}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>hero_shizwushikaijia_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>hero_shizwushikaijia_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,300},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>hero_shizwushikaijia_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,50}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_shizwushikaijia_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,479},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>hero_shizwushikaijia_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,357},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>hero_shizwushikaijia_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,384},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_shizwushikaijia_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,334},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>hero_shizwushikaijia_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>hero_shizwushikaijia_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{69,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>hero_shizwushikaijia_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{78,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,87}}</string>
                <key>sourceSize</key>
                <string>{78,87}</string>
            </dict>
            <key>hero_shizwushikaijia_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,333},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>hero_shizwushikaijia_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,211},{74,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,49}}</string>
                <key>sourceSize</key>
                <string>{74,49}</string>
            </dict>
            <key>hero_shizwushikaijia_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{116,112}</string>
            </dict>
            <key>hero_shizwushikaijia_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>hero_shizwushikaijia_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,378},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>hero_shizwushikaijia_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,360},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>hero_shizwushikaijia_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shizwushikaijia_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,433},{45,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_shizwushikaijia_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,54},{100,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,27}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>hero_shizwushikaijia_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_shizwushikaijia_body.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e27df3f7153a180328df1edca0e733b2$</string>
            <key>textureFileName</key>
            <string>hero_shizwushikaijia_body.png</string>
        </dict>
    </dict>
</plist>
