<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,139},{93,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{95,54}</string>
            </dict>
            <key>adui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,148},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>adui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,248},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>adui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,250},{41,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,30}}</string>
                <key>sourceSize</key>
                <string>{41,30}</string>
            </dict>
            <key>adui18.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,378},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>adui19.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,139},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>adui20.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,189},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>adui23.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,378},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>adui24.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,378},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>adui28.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,70},{120,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,34}}</string>
                <key>sourceSize</key>
                <string>{122,34}</string>
            </dict>
            <key>adui29.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,88},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>adui30.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,70},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>aduiexp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,106},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>aduiexp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,165},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>aduiexp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,370},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>aduiexp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,46},{2,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,10}}</string>
                <key>sourceSize</key>
                <string>{2,10}</string>
            </dict>
            <key>aduihp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>aduihp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>aduihp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,469},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>aduihp4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,453},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>aduihp5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,455},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>aduihp6.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,378},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>aduihp7.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,378},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>aduihp8.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,378},{49,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,22}}</string>
                <key>sourceSize</key>
                <string>{49,22}</string>
            </dict>
            <key>aduiwqk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,378},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>aduiwqk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,378},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>comb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{149,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{149,69}}</string>
                <key>sourceSize</key>
                <string>{153,71}</string>
            </dict>
            <key>dyui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,20}}</string>
                <key>sourceSize</key>
                <string>{376,20}</string>
            </dict>
            <key>dyui06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,24},{193,85}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{193,85}}</string>
                <key>sourceSize</key>
                <string>{197,85}</string>
            </dict>
            <key>dyui07.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{128,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,66}}</string>
                <key>sourceSize</key>
                <string>{130,66}</string>
            </dict>
            <key>dyui08.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,407},{46,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>dyui09.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,442},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>dyui10.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,195},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>dyui11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>dyui12.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,483},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>dyui13.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,396},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>dyui14.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,378},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>dyui15.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,346},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,30}</string>
            </dict>
            <key>dyui16.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,112},{234,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,25}}</string>
                <key>sourceSize</key>
                <string>{234,25}</string>
            </dict>
            <key>dyui17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>dyui18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{286,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{286,20}}</string>
                <key>sourceSize</key>
                <string>{290,20}</string>
            </dict>
            <key>dyui19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{280,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{280,8}}</string>
                <key>sourceSize</key>
                <string>{290,8}</string>
            </dict>
            <key>dyui20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{280,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{280,8}}</string>
                <key>sourceSize</key>
                <string>{288,8}</string>
            </dict>
            <key>dyui21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{280,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{280,8}}</string>
                <key>sourceSize</key>
                <string>{290,8}</string>
            </dict>
            <key>dyui22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{280,8}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{280,8}}</string>
                <key>sourceSize</key>
                <string>{288,8}</string>
            </dict>
            <key>dyui23.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,442},{165,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,65}}</string>
                <key>sourceSize</key>
                <string>{165,65}</string>
            </dict>
            <key>dyui24.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,442},{169,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,65}}</string>
                <key>sourceSize</key>
                <string>{169,65}</string>
            </dict>
            <key>dyui25.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,195},{173,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,70}}</string>
                <key>sourceSize</key>
                <string>{173,70}</string>
            </dict>
            <key>dyui26.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,106},{111,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,31}}</string>
                <key>sourceSize</key>
                <string>{111,31}</string>
            </dict>
            <key>dyui27.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,216},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>dyui28.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,455},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>dyuinpc.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,219},{27,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>jjcjm13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{139,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,42}}</string>
                <key>sourceSize</key>
                <string>{139,42}</string>
            </dict>
            <key>shuzi11bf.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,425},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>shuzifh.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,180},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>xxsui02.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,282},{40,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,158}}</string>
                <key>sourceSize</key>
                <string>{40,158}</string>
            </dict>
            <key>xxsui03.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,296},{17,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,48}}</string>
                <key>sourceSize</key>
                <string>{17,48}</string>
            </dict>
            <key>xxsui04.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,246},{18,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,48}}</string>
                <key>sourceSize</key>
                <string>{18,48}</string>
            </dict>
            <key>xxsui05.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,200},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,48}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>xxsui11.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,86},{196,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,24}}</string>
                <key>sourceSize</key>
                <string>{196,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc45d560b167874d09a4e28a4bd81708$</string>
            <key>textureFileName</key>
            <string>fight.png</string>
        </dict>
    </dict>
</plist>
