<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,82},{56,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,30}}</string>
                <key>sourceSize</key>
                <string>{56,30}</string>
            </dict>
            <key>baijixuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,258},{68,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,185}}</string>
                <key>sourceSize</key>
                <string>{68,185}</string>
            </dict>
            <key>chuagnjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,209},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>digang.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{152,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,21}}</string>
                <key>sourceSize</key>
                <string>{152,21}</string>
            </dict>
            <key>fangkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,305},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,246},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{59,55}</string>
            </dict>
            <key>hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,349},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>huaban.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,188},{94,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{94,90}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>huawen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,142},{229,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{229,44}}</string>
                <key>sourceSize</key>
                <string>{233,44}</string>
            </dict>
            <key>juesexuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,470},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>kaisi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{252,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,73}}</string>
                <key>sourceSize</key>
                <string>{252,73}</string>
            </dict>
            <key>luocha.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,420},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>nanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,72},{68,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,185}}</string>
                <key>sourceSize</key>
                <string>{68,185}</string>
            </dict>
            <key>shaiziditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,429},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>tiaowen.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,258},{210,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,82}}</string>
                <key>sourceSize</key>
                <string>{210,82}</string>
            </dict>
            <key>waikuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{68,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,185}}</string>
                <key>sourceSize</key>
                <string>{68,185}</string>
            </dict>
            <key>waikuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,246},{64,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,181}}</string>
                <key>sourceSize</key>
                <string>{64,181}</string>
            </dict>
            <key>weichuangjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,429},{79,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,25}}</string>
                <key>sourceSize</key>
                <string>{79,25}</string>
            </dict>
            <key>wenlu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{297,78}}</string>
                <key>sourceSize</key>
                <string>{299,80}</string>
            </dict>
            <key>xianze2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{211,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{211,93}}</string>
                <key>sourceSize</key>
                <string>{211,95}</string>
            </dict>
            <key>xingming.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,157},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>xiuluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,280},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>xuanze1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{221,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{221,99}}</string>
                <key>sourceSize</key>
                <string>{223,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectrole.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0190a1af378a80a089119b352286c78d$</string>
            <key>textureFileName</key>
            <string>selectrole.png</string>
        </dict>
    </dict>
</plist>
