<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bust_baifachigui.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{137,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,106}}</string>
                <key>sourceSize</key>
                <string>{137,106}</string>
            </dict>
            <key>bust_changmao.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,188},{117,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,106}}</string>
                <key>sourceSize</key>
                <string>{119,106}</string>
            </dict>
            <key>bust_changqiangws.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{122,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,106}}</string>
                <key>sourceSize</key>
                <string>{122,106}</string>
            </dict>
            <key>bust_chigui.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,698},{83,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,98}}</string>
                <key>sourceSize</key>
                <string>{85,98}</string>
            </dict>
            <key>bust_dagui.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,602},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>bust_dahama.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,502},{97,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,98}}</string>
                <key>sourceSize</key>
                <string>{99,98}</string>
            </dict>
            <key>bust_damaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,513},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>bust_douliseng.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,695},{90,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>bust_douliwushi_banshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>bust_duoluofashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,296},{115,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,98}}</string>
                <key>sourceSize</key>
                <string>{115,98}</string>
            </dict>
            <key>bust_egui.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,493},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>bust_erhama.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,486},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>bust_fenghuang_.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,102},{122,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,98}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>bust_fushigui_.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,599},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>bust_guiwuzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,98}}</string>
                <key>sourceSize</key>
                <string>{148,98}</string>
            </dict>
            <key>bust_guizhizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{122,98}</string>
            </dict>
            <key>bust_haiguai.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,396},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{105,98}</string>
            </dict>
            <key>bust_heiyuan_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>bust_hetong.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,783},{93,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{93,92}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>bust_houzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,787},{82,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,90}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>bust_huji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{93,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,98}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>bust_huoche.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,308},{106,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>bust_huolunyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,202},{116,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>bust_huoniao.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,302},{114,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{116,98}</string>
            </dict>
            <key>bust_huoyanhufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,110},{120,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{120,98}}</string>
                <key>sourceSize</key>
                <string>{122,98}</string>
            </dict>
            <key>bust_jileniao.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,310},{101,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,104}}</string>
                <key>sourceSize</key>
                <string>{101,106}</string>
            </dict>
            <key>bust_kongzhongrenzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{109,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,98}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>bust_leishen.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,594},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>bust_lianyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{131,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{131,98}}</string>
                <key>sourceSize</key>
                <string>{133,98}</string>
            </dict>
            <key>bust_liushengxzcx.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,582},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>bust_liushuihufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{137,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,98}}</string>
                <key>sourceSize</key>
                <string>{139,98}</string>
            </dict>
            <key>bust_longshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,386},{109,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,98}}</string>
                <key>sourceSize</key>
                <string>{109,98}</string>
            </dict>
            <key>bust_lulushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>bust_luobaiwushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,402},{105,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{107,98}</string>
            </dict>
            <key>bust_maleninja.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,302},{90,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>bust_mamian.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,302},{106,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>bust_meimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,210},{105,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,98}}</string>
                <key>sourceSize</key>
                <string>{107,98}</string>
            </dict>
            <key>bust_mingwang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,102},{133,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,98}}</string>
                <key>sourceSize</key>
                <string>{135,98}</string>
            </dict>
            <key>bust_mingwang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,98}}</string>
                <key>sourceSize</key>
                <string>{148,98}</string>
            </dict>
            <key>bust_niutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,102},{118,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,98}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>bust_nvcike.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,304},{71,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,98}}</string>
                <key>sourceSize</key>
                <string>{73,98}</string>
            </dict>
            <key>bust_nvcikeerhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,404},{68,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,87}}</string>
                <key>sourceSize</key>
                <string>{68,87}</string>
            </dict>
            <key>bust_nvyouling.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{83,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,98}}</string>
                <key>sourceSize</key>
                <string>{85,98}</string>
            </dict>
            <key>bust_nvzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,202},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>bust_putongwushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,494},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>bust_qingfangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,505},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>bust_quanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,613},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>bust_quanshen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,502},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{95,98}</string>
            </dict>
            <key>bust_sangui.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,182},{64,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,98}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>bust_shangren.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,202},{71,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,100}}</string>
                <key>sourceSize</key>
                <string>{71,100}</string>
            </dict>
            <key>bust_shanshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,202},{116,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{118,98}</string>
            </dict>
            <key>bust_shanyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,110},{118,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,76}}</string>
                <key>sourceSize</key>
                <string>{120,76}</string>
            </dict>
            <key>bust_shengbogui.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{141,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,98}}</string>
                <key>sourceSize</key>
                <string>{141,98}</string>
            </dict>
            <key>bust_tangsan.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,282},{74,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,102}}</string>
                <key>sourceSize</key>
                <string>{76,104}</string>
            </dict>
            <key>bust_tiangou.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,413},{103,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,98}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>bust_tianluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,394},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>bust_tiepaodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,591},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>bust_wushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,486},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>bust_xiangpushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,102},{131,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,98}}</string>
                <key>sourceSize</key>
                <string>{131,98}</string>
            </dict>
            <key>bust_xiaogui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,90},{53,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{55,90}</string>
            </dict>
            <key>bust_xiaogui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{56,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,86}}</string>
                <key>sourceSize</key>
                <string>{56,86}</string>
            </dict>
            <key>bust_xiaoyeye.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,402},{98,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,102}</string>
            </dict>
            <key>bust_ye.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,202},{106,98}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,98}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>bust_zhenhetong.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,691},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>bust_zhongren.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,496},{84,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,100}}</string>
                <key>sourceSize</key>
                <string>{86,100}</string>
            </dict>
            <key>bust_ziyiwuhsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,408},{95,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,98}}</string>
                <key>sourceSize</key>
                <string>{97,98}</string>
            </dict>
            <key>bust_zuofutontzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,92}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bust.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7341b31ae18bc094a241f9b1adee845$</string>
            <key>textureFileName</key>
            <string>bust.png</string>
        </dict>
    </dict>
</plist>
