<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npcnamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{165,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{165,36}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>zcjzm02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,169},{132,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,48}}</string>
                <key>sourceSize</key>
                <string>{132,48}</string>
            </dict>
            <key>zhucheng_fengyinshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,168}}</string>
                <key>sourceSize</key>
                <string>{218,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fysjz1.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25792deb495f0aeb840325d98734ec6f$</string>
            <key>textureFileName</key>
            <string>fysjz1.png</string>
        </dict>
    </dict>
</plist>
