<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ck.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,40},{34,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,35}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>jingjc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,115}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,115}}</string>
                <key>sourceSize</key>
                <string>{190,115}</string>
            </dict>
            <key>npcnamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{165,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,36}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>zcjzm10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{96,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,45}}</string>
                <key>sourceSize</key>
                <string>{98,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jjcjz1.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d657b48b2af926e0e885817f93d8f952$</string>
            <key>textureFileName</key>
            <string>jjcjz1.png</string>
        </dict>
    </dict>
</plist>
