<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{130,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,35}}</string>
                <key>sourceSize</key>
                <string>{130,35}</string>
            </dict>
            <key>yu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{97,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,31}}</string>
                <key>sourceSize</key>
                <string>{97,31}</string>
            </dict>
            <key>yu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,39},{62,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,25}}</string>
                <key>sourceSize</key>
                <string>{62,25}</string>
            </dict>
            <key>yu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,25}}</string>
                <key>sourceSize</key>
                <string>{109,25}</string>
            </dict>
            <key>yu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,103},{63,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,18}}</string>
                <key>sourceSize</key>
                <string>{63,18}</string>
            </dict>
            <key>yu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{99,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,24}}</string>
                <key>sourceSize</key>
                <string>{99,24}</string>
            </dict>
            <key>yu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,39},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
            <key>yu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,103},{81,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,20}}</string>
                <key>sourceSize</key>
                <string>{81,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yu1.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d58b5d11d91813687c43b9937b7d0ec1$</string>
            <key>textureFileName</key>
            <string>yu1.png</string>
        </dict>
    </dict>
</plist>
