<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,145},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,336},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>logo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>logo_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,101},{9,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,7}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>logo_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,122},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>logo_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,98},{9,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,26}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>logo_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,56},{43,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{43,18}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,264},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>logo_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{117,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{117,118}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>logo_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,101},{21,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,8}}</string>
                <key>sourceSize</key>
                <string>{21,8}</string>
            </dict>
            <key>logo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,182},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>logo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,30},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>logo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{87,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,88}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>logo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,182},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>logo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,328},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>logo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{77,51}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{77,51}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>logo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,177},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>mlgame12.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{169,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,118}}</string>
                <key>sourceSize</key>
                <string>{169,118}</string>
            </dict>
            <key>mlgame13.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,122},{204,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{204,155}}</string>
                <key>sourceSize</key>
                <string>{206,155}</string>
            </dict>
            <key>mlgame14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{304,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,82}}</string>
                <key>sourceSize</key>
                <string>{304,82}</string>
            </dict>
            <key>mlgame15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{315,94}}</string>
                <key>sourceSize</key>
                <string>{317,96}</string>
            </dict>
            <key>reku_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{217,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,58}}</string>
                <key>sourceSize</key>
                <string>{217,58}</string>
            </dict>
            <key>reku_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,273},{232,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{232,71}}</string>
                <key>sourceSize</key>
                <string>{234,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mlgame0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c736a511666c3b3ad14f4fdd3f265aca$</string>
            <key>textureFileName</key>
            <string>mlgame0.png</string>
        </dict>
    </dict>
</plist>
