<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>scene_ocr_a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{253,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,244}}</string>
                <key>sourceSize</key>
                <string>{253,244}</string>
            </dict>
            <key>scene_ocr_a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,194}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{399,194}}</string>
                <key>sourceSize</key>
                <string>{399,204}</string>
            </dict>
            <key>scene_ocr_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{87,199}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,199}}</string>
                <key>sourceSize</key>
                <string>{87,201}</string>
            </dict>
            <key>scene_ocr_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,198},{122,122}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>scene_ocr_c02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,322},{154,154}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{154,154}}</string>
                <key>sourceSize</key>
                <string>{160,162}</string>
            </dict>
            <key>scene_ocr_c03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,203},{77,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{77,76}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shu1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecfb3c3521ac53d8becec3428c02fdb0$</string>
            <key>textureFileName</key>
            <string>shu1.png</string>
        </dict>
    </dict>
</plist>
