<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bl11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,62}}</string>
                <key>sourceSize</key>
                <string>{390,62}</string>
            </dict>
            <key>bl110.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{459,121}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{459,121}}</string>
                <key>sourceSize</key>
                <string>{483,121}</string>
            </dict>
            <key>bl111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{457,108}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{457,108}}</string>
                <key>sourceSize</key>
                <string>{493,108}</string>
            </dict>
            <key>bl112.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,125},{457,92}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{457,92}}</string>
                <key>sourceSize</key>
                <string>{493,92}</string>
            </dict>
            <key>bl12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{412,70}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{412,70}}</string>
                <key>sourceSize</key>
                <string>{424,70}</string>
            </dict>
            <key>bl13.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,235},{431,62}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{431,62}}</string>
                <key>sourceSize</key>
                <string>{437,62}</string>
            </dict>
            <key>bl14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{452,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,64}}</string>
                <key>sourceSize</key>
                <string>{452,64}</string>
            </dict>
            <key>bl15.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,307},{472,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{472,76}}</string>
                <key>sourceSize</key>
                <string>{474,76}</string>
            </dict>
            <key>bl16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{478,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{478,82}}</string>
                <key>sourceSize</key>
                <string>{480,82}</string>
            </dict>
            <key>bl17.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,385},{494,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,91}}</string>
                <key>sourceSize</key>
                <string>{494,91}</string>
            </dict>
            <key>bl18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{497,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{497,98}}</string>
                <key>sourceSize</key>
                <string>{499,98}</string>
            </dict>
            <key>bl19.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,478},{469,115}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{469,115}}</string>
                <key>sourceSize</key>
                <string>{483,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bl1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bff503c3d9e82a9b929eb83eccc402b$</string>
            <key>textureFileName</key>
            <string>bl1.png</string>
        </dict>
    </dict>
</plist>
