<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>sl52.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{55,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>sl53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{61,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,64}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>sl54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{75,110}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{75,110}}</string>
                <key>sourceSize</key>
                <string>{87,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sl5.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:045480450fc3bf7c438447f07d81cf9b$</string>
            <key>textureFileName</key>
            <string>sl5.png</string>
        </dict>
    </dict>
</plist>
