<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jians_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,68}}</string>
                <key>offset</key>
                <string>{-79,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,68}}</string>
                <key>sourceSize</key>
                <string>{246,68}</string>
            </dict>
            <key>jiant_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{1,1}}</string>
                <key>offset</key>
                <string>{-17,83.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{35,168}</string>
            </dict>
            <key>jianx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{45,2}}</string>
                <key>offset</key>
                <string>{-79,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,2}}</string>
                <key>sourceSize</key>
                <string>{203,2}</string>
            </dict>
            <key>jianx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{1,1}}</string>
                <key>offset</key>
                <string>{-102.5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{206,47}</string>
            </dict>
            <key>jiany_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{19,47}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,130},{19,47}}</string>
                <key>sourceSize</key>
                <string>{19,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion2_1.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90a49497a07954f9fd228a5eb59fc5e7$</string>
            <key>textureFileName</key>
            <string>falchion2_1.png</string>
        </dict>
    </dict>
</plist>
