<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nvhzuskill11_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{155,120}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{155,120}}</string>
                <key>sourceSize</key>
                <string>{155,134}</string>
            </dict>
            <key>skill11_effect_zzzdian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{19,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,91}}</string>
                <key>sourceSize</key>
                <string>{19,91}</string>
            </dict>
            <key>skill11_effect_zzzdian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{26,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,93}}</string>
                <key>sourceSize</key>
                <string>{26,93}</string>
            </dict>
            <key>skill11_effect_zzzdian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{26,76}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{26,76}}</string>
                <key>sourceSize</key>
                <string>{26,102}</string>
            </dict>
            <key>skill11_effect_zzzdian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{26,76}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{26,76}}</string>
                <key>sourceSize</key>
                <string>{26,106}</string>
            </dict>
            <key>skill11_effect_zzzdian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,80},{55,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,42}}</string>
                <key>sourceSize</key>
                <string>{55,42}</string>
            </dict>
            <key>skill11_effect_zzzdian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,124},{1,1}}</string>
                <key>offset</key>
                <string>{-6.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{14,10}</string>
            </dict>
            <key>skill11_effect_zzzdian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,124},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>skill11_effect_zzzdian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,124},{1,1}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>skill11_effect_zzzdian9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,124},{1,1}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>skill11_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,124}}</string>
                <key>sourceSize</key>
                <string>{248,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongj_skill110.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d83cae426b6e516c0010116652156048$</string>
            <key>textureFileName</key>
            <string>gongj_skill110.png</string>
        </dict>
    </dict>
</plist>
