<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nvhzuskill15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1,1}}</string>
                <key>offset</key>
                <string>{-50.5,55.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>nvhzuskill15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1,1}}</string>
                <key>offset</key>
                <string>{-63.5,45.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{128,92}</string>
            </dict>
            <key>nvhzuskill15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1,1}}</string>
                <key>offset</key>
                <string>{-57.5,58.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>nvhzuskill15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{34,157}}</string>
                <key>offset</key>
                <string>{-72,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{34,157}}</string>
                <key>sourceSize</key>
                <string>{178,179}</string>
            </dict>
            <key>nvhzuskill15_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>skill15_12580.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,164}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,164}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongj_skill150.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48dae480947addf50a56bcdb51b54e38$</string>
            <key>textureFileName</key>
            <string>gongj_skill150.png</string>
        </dict>
    </dict>
</plist>
