<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiany_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{19,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,165}}</string>
                <key>sourceSize</key>
                <string>{19,165}</string>
            </dict>
            <key>jiany_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,2},{8,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,84}}</string>
                <key>sourceSize</key>
                <string>{8,84}</string>
            </dict>
            <key>jiany_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{19,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,84}}</string>
                <key>sourceSize</key>
                <string>{19,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianyduan_1.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c20523e7525ee1764c8fee10ef4a26f4$</string>
            <key>textureFileName</key>
            <string>jianyduan_1.png</string>
        </dict>
    </dict>
</plist>
