<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{55,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,125}}</string>
                <key>sourceSize</key>
                <string>{55,125}</string>
            </dict>
            <key>skill4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{286,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{286,90}}</string>
                <key>sourceSize</key>
                <string>{290,90}</string>
            </dict>
            <key>skill4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,349}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,349}}</string>
                <key>sourceSize</key>
                <string>{102,349}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill40.pvr.ccz</string>
            <key>size</key>
            <string>{106,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0250a752b492e0467a96783e0c793452:11112b6391fe94145729075bce52e052:4a75a2d1460e7d1bde4c19ec74079b08$</string>
            <key>textureFileName</key>
            <string>skill40.pvr.ccz</string>
        </dict>
    </dict>
</plist>
