<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill140.pvr.ccz</string>
            <key>size</key>
            <string>{198,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d60ebe4a1e335e033e8f6cb5efa6caea:d2860c1be8248ce49dd6596e3de66c33:a34c8ab33301f738327e71b71c2fdf42$</string>
            <key>textureFileName</key>
            <string>skill140.pvr.ccz</string>
        </dict>
    </dict>
</plist>
