<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dao_skill16_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill160.pvr.ccz</string>
            <key>size</key>
            <string>{168,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727c81673fc6a67a90d09a9baa38bef6:450031ff9119de2c83d39aabdbc36893:99ff0cd76ffc0ab6a34198a64c5a16a2$</string>
            <key>textureFileName</key>
            <string>skill160.pvr.ccz</string>
        </dict>
    </dict>
</plist>
