<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill15_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,160}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill150.pvr.ccz</string>
            <key>size</key>
            <string>{132,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42ed90a6e1cb8045af23465544ec44df:2e3f26d0c3d754bf9992b737d33a30f6:7ba1e1521686015dc3c1babe5fb8e676$</string>
            <key>textureFileName</key>
            <string>skill150.pvr.ccz</string>
        </dict>
    </dict>
</plist>
