<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,486}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{129,486}}</string>
                <key>sourceSize</key>
                <string>{137,486}</string>
            </dict>
            <key>skill5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,126},{120,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,82}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>skill5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{113,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{115,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill50.pvr.ccz</string>
            <key>size</key>
            <string>{248,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c36f079166cdf87d164e1bad47889f3a:a35a9ad3833282e6031f0caff1aa2d82:e80ad5121ceead530bb68be89d113be2$</string>
            <key>textureFileName</key>
            <string>skill50.pvr.ccz</string>
        </dict>
    </dict>
</plist>
