<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suiy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,52},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>suiy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>suiy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>tainyzjc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{216,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,20}}</string>
                <key>sourceSize</key>
                <string>{216,20}</string>
            </dict>
            <key>tianyzjdz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,31}}</string>
                <key>sourceSize</key>
                <string>{216,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>z4.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e036875657304d6233d76e894e9f4d28$</string>
            <key>textureFileName</key>
            <string>z4.png</string>
        </dict>
    </dict>
</plist>
