<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map6_wheat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,190}}</string>
                <key>sourceSize</key>
                <string>{45,194}</string>
            </dict>
            <key>map6_wheat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{48,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,229}}</string>
                <key>sourceSize</key>
                <string>{48,229}</string>
            </dict>
            <key>map6_wheat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{190,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,173}}</string>
                <key>sourceSize</key>
                <string>{190,173}</string>
            </dict>
            <key>map6_wheat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{94,236}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,236}}</string>
                <key>sourceSize</key>
                <string>{96,236}</string>
            </dict>
            <key>map6_wheat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{55,260}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,260}}</string>
                <key>sourceSize</key>
                <string>{57,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhongc2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de1cc7f73edf834da22e6aed08c268d4$</string>
            <key>textureFileName</key>
            <string>zhongc2.png</string>
        </dict>
    </dict>
</plist>
