<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luocha_texiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{152,86}}</string>
                <key>sourceSize</key>
                <string>{158,88}</string>
            </dict>
            <key>renwuqietu/luocha_bianzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{163,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,85}}</string>
                <key>sourceSize</key>
                <string>{163,85}</string>
            </dict>
            <key>renwuqietu/luocha_bianzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{169,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,85}}</string>
                <key>sourceSize</key>
                <string>{169,85}</string>
            </dict>
            <key>renwuqietu/luocha_bianzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>renwuqietu/luocha_bianzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>renwuqietu/luocha_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,2},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>renwuqietu/luocha_biyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>renwuqietu/luocha_gongjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{465,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,133}}</string>
                <key>sourceSize</key>
                <string>{465,133}</string>
            </dict>
            <key>renwuqietu/luocha_gongjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,90},{107,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,72}}</string>
                <key>sourceSize</key>
                <string>{107,72}</string>
            </dict>
            <key>renwuqietu/luocha_gongjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,90},{113,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,47}}</string>
                <key>sourceSize</key>
                <string>{113,47}</string>
            </dict>
            <key>renwuqietu/luocha_jianxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{344,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,113}}</string>
                <key>sourceSize</key>
                <string>{344,113}</string>
            </dict>
            <key>renwuqietu/luocha_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,225},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>renwuqietu/luocha_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,225},{91,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,98}}</string>
                <key>sourceSize</key>
                <string>{91,98}</string>
            </dict>
            <key>renwuqietu/luocha_toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,225},{116,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,76}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>renwuqietu/luocha_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,225},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{27,41}</string>
            </dict>
            <key>renwuqietu/luocha_toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,225},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>renwuqietu/luocha_touhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,225},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>renwuqietu/luocha_touhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,225},{16,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,30}}</string>
                <key>sourceSize</key>
                <string>{16,30}</string>
            </dict>
            <key>renwuqietu/luocha_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,225},{58,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>renwuqietu/luocha_yibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,225},{56,110}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,110}}</string>
                <key>sourceSize</key>
                <string>{56,124}</string>
            </dict>
            <key>renwuqietu/luocha_yibai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,225},{74,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,227}}</string>
                <key>sourceSize</key>
                <string>{74,227}</string>
            </dict>
            <key>renwuqietu/luocha_yibai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{132,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,104}}</string>
                <key>sourceSize</key>
                <string>{132,104}</string>
            </dict>
            <key>renwuqietu/luocha_yibai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,454},{237,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,130}}</string>
                <key>sourceSize</key>
                <string>{237,130}</string>
            </dict>
            <key>renwuqietu/luocha_yibai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,454},{61,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,186}}</string>
                <key>sourceSize</key>
                <string>{61,186}</string>
            </dict>
            <key>renwuqietu/luocha_yibai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,454},{129,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,65}}</string>
                <key>sourceSize</key>
                <string>{129,65}</string>
            </dict>
            <key>renwuqietu/luocha_yibai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,454},{126,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>renwuqietu/luocha_yibaixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,454},{36,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{38,80}</string>
            </dict>
            <key>renwuqietu/luocha_yijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,454},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>renwuqietu/luocha_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,454},{53,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,72}}</string>
                <key>sourceSize</key>
                <string>{53,72}</string>
            </dict>
            <key>renwuqietu/luocha_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,454},{96,247}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,247}}</string>
                <key>sourceSize</key>
                <string>{96,249}</string>
            </dict>
            <key>renwuqietu/luocha_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,454},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>renwuqietu/luocha_yuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{98,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,144}}</string>
                <key>sourceSize</key>
                <string>{98,144}</string>
            </dict>
            <key>renwuqietu/luocha_zoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,703},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>renwuqietu/luocha_zoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,703},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>renwuqietu/luocha_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,703},{174,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,154}}</string>
                <key>sourceSize</key>
                <string>{174,154}</string>
            </dict>
            <key>renwuqietu/luocha_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,703},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baijiluocha0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f43f1a1daa8031fc0efc4b183afc533$</string>
            <key>textureFileName</key>
            <string>baijiluocha0.png</string>
        </dict>
    </dict>
</plist>
