<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jrant01.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>jrant02.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,115},{71,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,81}}</string>
                <key>sourceSize</key>
                <string>{71,81}</string>
            </dict>
            <key>jrant03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,111}}</string>
                <key>sourceSize</key>
                <string>{106,111}</string>
            </dict>
            <key>jrant04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dyjrandh0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68b8b271e42a4f407ed7e2d09b51bc17$</string>
            <key>textureFileName</key>
            <string>dyjrandh0.png</string>
        </dict>
    </dict>
</plist>
