<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{455,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,84}}</string>
                <key>sourceSize</key>
                <string>{455,84}</string>
            </dict>
            <key>beijing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{452,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,130}}</string>
                <key>sourceSize</key>
                <string>{452,130}</string>
            </dict>
            <key>dheimu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,247},{285,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,190}}</string>
                <key>sourceSize</key>
                <string>{285,190}</string>
            </dict>
            <key>dl_gy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,576},{57,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{57,50}</string>
            </dict>
            <key>dl_gy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,225},{49,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,111}}</string>
                <key>sourceSize</key>
                <string>{49,111}</string>
            </dict>
            <key>dl_gy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,549},{25,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,62}}</string>
                <key>sourceSize</key>
                <string>{25,62}</string>
            </dict>
            <key>dl_gy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,362},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,325},{61,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,37}}</string>
                <key>sourceSize</key>
                <string>{61,37}</string>
            </dict>
            <key>eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,439},{68,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>eye_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,512},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>eye_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,503},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>heimu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,134},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>role_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,83},{96,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,140}}</string>
                <key>sourceSize</key>
                <string>{96,140}</string>
            </dict>
            <key>role_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,401},{63,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,94}}</string>
                <key>sourceSize</key>
                <string>{63,94}</string>
            </dict>
            <key>role_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,467},{53,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,84}}</string>
                <key>sourceSize</key>
                <string>{53,84}</string>
            </dict>
            <key>role_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,550},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>role_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,346},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>role_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,292},{68,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,136}}</string>
                <key>sourceSize</key>
                <string>{68,136}</string>
            </dict>
            <key>role_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,522},{25,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,79}}</string>
                <key>sourceSize</key>
                <string>{25,79}</string>
            </dict>
            <key>role_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,276},{64,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,20}}</string>
                <key>sourceSize</key>
                <string>{64,20}</string>
            </dict>
            <key>role_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,342},{63,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,14}}</string>
                <key>sourceSize</key>
                <string>{63,14}</string>
            </dict>
            <key>role_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,292},{24,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,66}}</string>
                <key>sourceSize</key>
                <string>{24,66}</string>
            </dict>
            <key>role_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{105,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,79}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>role_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,346},{132,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>role_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,428},{127,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,82}}</string>
                <key>sourceSize</key>
                <string>{127,82}</string>
            </dict>
            <key>role_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,134},{111,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,291}}</string>
                <key>sourceSize</key>
                <string>{111,291}</string>
            </dict>
            <key>role_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,362},{133,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,126}}</string>
                <key>sourceSize</key>
                <string>{133,126}</string>
            </dict>
            <key>role_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>role_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>role_tf_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,467},{36,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,76}}</string>
                <key>sourceSize</key>
                <string>{36,76}</string>
            </dict>
            <key>role_tf_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,466},{28,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,65}}</string>
                <key>sourceSize</key>
                <string>{28,65}</string>
            </dict>
            <key>role_tf_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,598},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>role_tf_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,545},{51,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,31}}</string>
                <key>sourceSize</key>
                <string>{51,31}</string>
            </dict>
            <key>role_tf_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,409},{25,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,83}}</string>
                <key>sourceSize</key>
                <string>{25,83}</string>
            </dict>
            <key>role_tf_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,466},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>role_tf_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,512},{66,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,36}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>role_tf_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,262},{61,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{216,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,203}}</string>
                <key>sourceSize</key>
                <string>{216,203}</string>
            </dict>
            <key>tree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{449,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,172}}</string>
                <key>sourceSize</key>
                <string>{449,172}</string>
            </dict>
            <key>tree_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,276},{244,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,94}}</string>
                <key>sourceSize</key>
                <string>{244,94}</string>
            </dict>
            <key>tree_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,262},{189,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,82}}</string>
                <key>sourceSize</key>
                <string>{189,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land_background0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43fe8b98eaf07523ba40ff9c59332bc5$</string>
            <key>textureFileName</key>
            <string>land_background0.png</string>
        </dict>
    </dict>
</plist>
