<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xszp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,124}}</string>
                <key>sourceSize</key>
                <string>{91,124}</string>
            </dict>
            <key>xszp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{92,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,43}}</string>
                <key>sourceSize</key>
                <string>{92,43}</string>
            </dict>
            <key>xszp03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{102,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,48}}</string>
                <key>sourceSize</key>
                <string>{104,48}</string>
            </dict>
            <key>xszp04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,128},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xszp0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1348d97367954bf345fe42206d1f507d$</string>
            <key>textureFileName</key>
            <string>xszp0.png</string>
        </dict>
    </dict>
</plist>
