<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiazdh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,198},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>jiazdh10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>jiazdh11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,148},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jiazdh12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,76},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>jiazdh13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>jiazdh14.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jiazdh15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,144},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{68,70}</string>
            </dict>
            <key>jiazdh16.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,74},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>jiazdh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,31},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>jiazdh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,171},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>jiazdh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,144},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>jiazdh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{24,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>jiazdh6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>jiazdh7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,58},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>jiazdh8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>jiazdh9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiazdh.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d8f46646e988ead2eed7bb9ba64a52$</string>
            <key>textureFileName</key>
            <string>jiazdh.png</string>
        </dict>
    </dict>
</plist>
