<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kapdh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>kapdhb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,225}}</string>
                <key>sourceSize</key>
                <string>{206,225}</string>
            </dict>
            <key>kapdhb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{204,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,225}}</string>
                <key>sourceSize</key>
                <string>{204,225}</string>
            </dict>
            <key>kapdhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{206,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,223}}</string>
                <key>sourceSize</key>
                <string>{206,223}</string>
            </dict>
            <key>kapdhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,229},{206,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,223}}</string>
                <key>sourceSize</key>
                <string>{206,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kapdhb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8d75e2e0d0beb81db036ac8be0eec9f$</string>
            <key>textureFileName</key>
            <string>kapdhb.png</string>
        </dict>
    </dict>
</plist>
