<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,10}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{22,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,9}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,14},{16,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,12}}</string>
                <key>sourceSize</key>
                <string>{16,12}</string>
            </dict>
            <key>n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,13},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>n6.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niao0.png</string>
            <key>size</key>
            <string>{64,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e03dbd719f4f3561d400c0f6d67a0cd$</string>
            <key>textureFileName</key>
            <string>niao0.png</string>
        </dict>
    </dict>
</plist>
