<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,146},{146,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,86}}</string>
                <key>sourceSize</key>
                <string>{146,86}</string>
            </dict>
            <key>playg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{146,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,86}}</string>
                <key>sourceSize</key>
                <string>{146,86}</string>
            </dict>
            <key>playg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,242},{32,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,54}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>playg04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>playg05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{102,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,70}}</string>
                <key>sourceSize</key>
                <string>{102,70}</string>
            </dict>
            <key>playg06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,74},{92,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,70}}</string>
                <key>sourceSize</key>
                <string>{94,70}</string>
            </dict>
            <key>playg07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,178},{62,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>playg08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{22,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{24,42}</string>
            </dict>
            <key>playg09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,86}}</string>
                <key>sourceSize</key>
                <string>{146,86}</string>
            </dict>
            <key>playg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,250},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playgame.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af22ddf707e04936f675eab9c6bc979a$</string>
            <key>textureFileName</key>
            <string>playgame.png</string>
        </dict>
    </dict>
</plist>
