<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,44}}</string>
                <key>sourceSize</key>
                <string>{139,44}</string>
            </dict>
            <key>m2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{28,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>m2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>m2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{25,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>m2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>m2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,53},{39,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,46}}</string>
                <key>sourceSize</key>
                <string>{39,48}</string>
            </dict>
            <key>m2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,53},{24,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>m2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,53},{83,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{83,47}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>m2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,53},{39,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>m2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{159,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{159,50}}</string>
                <key>sourceSize</key>
                <string>{159,52}</string>
            </dict>
            <key>m2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,102},{22,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>m2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,102},{15,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,36}}</string>
                <key>sourceSize</key>
                <string>{15,36}</string>
            </dict>
            <key>m2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,102},{34,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>m2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>m2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,154},{58,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,49}}</string>
                <key>sourceSize</key>
                <string>{60,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map2_a0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eaf9aa85a356804dc5d078e37efaa271$</string>
            <key>textureFileName</key>
            <string>map2_a0.png</string>
        </dict>
    </dict>
</plist>
