<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,173},{14,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,58}}</string>
                <key>sourceSize</key>
                <string>{14,58}</string>
            </dict>
            <key>daos2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,178}}</string>
                <key>sourceSize</key>
                <string>{32,178}</string>
            </dict>
            <key>daos2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{79,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,169}}</string>
                <key>sourceSize</key>
                <string>{79,169}</string>
            </dict>
            <key>daos2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,290},{29,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,87}}</string>
                <key>sourceSize</key>
                <string>{29,87}</string>
            </dict>
            <key>daos2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{29,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,168}}</string>
                <key>sourceSize</key>
                <string>{29,168}</string>
            </dict>
            <key>daos2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{67,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,169}}</string>
                <key>sourceSize</key>
                <string>{67,169}</string>
            </dict>
            <key>daos2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{60,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,138}}</string>
                <key>sourceSize</key>
                <string>{60,138}</string>
            </dict>
            <key>daos2_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,148},{29,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,102}}</string>
                <key>sourceSize</key>
                <string>{29,102}</string>
            </dict>
            <key>daos2_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,252},{47,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,122}}</string>
                <key>sourceSize</key>
                <string>{47,122}</string>
            </dict>
            <key>daos2_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{29,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,96}}</string>
                <key>sourceSize</key>
                <string>{29,96}</string>
            </dict>
            <key>daos2_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{47,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,124}}</string>
                <key>sourceSize</key>
                <string>{47,124}</string>
            </dict>
            <key>daos2_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{29,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,93}}</string>
                <key>sourceSize</key>
                <string>{29,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfeed0996f8f84583f63ff046231a3c7$</string>
            <key>textureFileName</key>
            <string>falchion_2.png</string>
        </dict>
    </dict>
</plist>
