<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{15,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,64}}</string>
                <key>sourceSize</key>
                <string>{15,64}</string>
            </dict>
            <key>daos16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{76,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,205}}</string>
                <key>sourceSize</key>
                <string>{76,205}</string>
            </dict>
            <key>daos16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,378},{74,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,229}}</string>
                <key>sourceSize</key>
                <string>{74,229}</string>
            </dict>
            <key>daos16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,0},{47,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,129}}</string>
                <key>sourceSize</key>
                <string>{47,129}</string>
            </dict>
            <key>daos16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,165},{39,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,213}}</string>
                <key>sourceSize</key>
                <string>{39,213}</string>
            </dict>
            <key>daos16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,378},{84,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,211}}</string>
                <key>sourceSize</key>
                <string>{84,211}</string>
            </dict>
            <key>daos16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,165},{96,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,161}}</string>
                <key>sourceSize</key>
                <string>{96,161}</string>
            </dict>
            <key>daos16_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{47,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,175}}</string>
                <key>sourceSize</key>
                <string>{47,175}</string>
            </dict>
            <key>daos16_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{55,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,165}}</string>
                <key>sourceSize</key>
                <string>{55,165}</string>
            </dict>
            <key>daos16_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{40,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,159}}</string>
                <key>sourceSize</key>
                <string>{40,159}</string>
            </dict>
            <key>daos16_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,165},{65,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,198}}</string>
                <key>sourceSize</key>
                <string>{65,198}</string>
            </dict>
            <key>daos16_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{67,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,122}}</string>
                <key>sourceSize</key>
                <string>{67,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_16.png</string>
            <key>size</key>
            <string>{247,607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40a76926e58fce186c735593ce1dea70$</string>
            <key>textureFileName</key>
            <string>falchion_16.png</string>
        </dict>
    </dict>
</plist>
