<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{18,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,61}}</string>
                <key>sourceSize</key>
                <string>{18,61}</string>
            </dict>
            <key>daos10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,383},{61,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,211}}</string>
                <key>sourceSize</key>
                <string>{61,211}</string>
            </dict>
            <key>daos10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,383},{69,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,209}}</string>
                <key>sourceSize</key>
                <string>{69,209}</string>
            </dict>
            <key>daos10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,0},{45,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,136}}</string>
                <key>sourceSize</key>
                <string>{45,136}</string>
            </dict>
            <key>daos10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,167},{41,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,216}}</string>
                <key>sourceSize</key>
                <string>{41,216}</string>
            </dict>
            <key>daos10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,383},{68,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,209}}</string>
                <key>sourceSize</key>
                <string>{68,209}</string>
            </dict>
            <key>daos10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,167},{80,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,154}}</string>
                <key>sourceSize</key>
                <string>{80,154}</string>
            </dict>
            <key>daos10_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{44,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,167}}</string>
                <key>sourceSize</key>
                <string>{44,167}</string>
            </dict>
            <key>daos10_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{50,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,184}}</string>
                <key>sourceSize</key>
                <string>{50,184}</string>
            </dict>
            <key>daos10_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,0},{41,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,146}}</string>
                <key>sourceSize</key>
                <string>{41,146}</string>
            </dict>
            <key>daos10_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,167},{59,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,180}}</string>
                <key>sourceSize</key>
                <string>{59,180}</string>
            </dict>
            <key>daos10_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{69,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,161}}</string>
                <key>sourceSize</key>
                <string>{69,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_10.png</string>
            <key>size</key>
            <string>{230,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8960157b6d11726ca620c7cec5efdd1f$</string>
            <key>textureFileName</key>
            <string>falchion_10.png</string>
        </dict>
    </dict>
</plist>
