<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,174},{20,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,63}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>daos8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{33,176}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{33,176}}</string>
                <key>sourceSize</key>
                <string>{61,204}</string>
            </dict>
            <key>daos8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,213}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{69,213}}</string>
                <key>sourceSize</key>
                <string>{81,221}</string>
            </dict>
            <key>daos8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,297},{31,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{31,86}}</string>
                <key>sourceSize</key>
                <string>{35,94}</string>
            </dict>
            <key>daos8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{31,175}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,32},{31,175}}</string>
                <key>sourceSize</key>
                <string>{35,209}</string>
            </dict>
            <key>daos8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{66,213}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{66,213}}</string>
                <key>sourceSize</key>
                <string>{80,221}</string>
            </dict>
            <key>daos8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{79,136}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{79,136}}</string>
                <key>sourceSize</key>
                <string>{83,148}</string>
            </dict>
            <key>daos8_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,180},{31,115}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{31,115}}</string>
                <key>sourceSize</key>
                <string>{35,125}</string>
            </dict>
            <key>daos8_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{52,151}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,151}}</string>
                <key>sourceSize</key>
                <string>{56,153}</string>
            </dict>
            <key>daos8_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,141},{31,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,131}}</string>
                <key>sourceSize</key>
                <string>{35,133}</string>
            </dict>
            <key>daos8_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{49,150}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,150}}</string>
                <key>sourceSize</key>
                <string>{55,152}</string>
            </dict>
            <key>daos8_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,274},{53,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{53,122}}</string>
                <key>sourceSize</key>
                <string>{55,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_8.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581f7d30873b685a428d68d156bd8eba$</string>
            <key>textureFileName</key>
            <string>falchion_8.png</string>
        </dict>
    </dict>
</plist>
