<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,63}}</string>
                <key>sourceSize</key>
                <string>{20,63}</string>
            </dict>
            <key>daos13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,160},{62,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,220}}</string>
                <key>sourceSize</key>
                <string>{62,220}</string>
            </dict>
            <key>daos13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,380},{80,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,217}}</string>
                <key>sourceSize</key>
                <string>{80,217}</string>
            </dict>
            <key>daos13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{62,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,163}}</string>
                <key>sourceSize</key>
                <string>{62,163}</string>
            </dict>
            <key>daos13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,160},{60,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,201}}</string>
                <key>sourceSize</key>
                <string>{60,201}</string>
            </dict>
            <key>daos13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{72,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,217}}</string>
                <key>sourceSize</key>
                <string>{72,217}</string>
            </dict>
            <key>daos13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,380},{95,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,175}}</string>
                <key>sourceSize</key>
                <string>{95,175}</string>
            </dict>
            <key>daos13_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,0},{64,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,157}}</string>
                <key>sourceSize</key>
                <string>{64,157}</string>
            </dict>
            <key>daos13_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,160},{60,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,184}}</string>
                <key>sourceSize</key>
                <string>{60,184}</string>
            </dict>
            <key>daos13_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,0},{58,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,160}}</string>
                <key>sourceSize</key>
                <string>{58,160}</string>
            </dict>
            <key>daos13_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,0},{51,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,152}}</string>
                <key>sourceSize</key>
                <string>{51,152}</string>
            </dict>
            <key>daos13_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,0},{54,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,149}}</string>
                <key>sourceSize</key>
                <string>{54,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_13.png</string>
            <key>size</key>
            <string>{247,597}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4500fece25e593bb0fffb40202197494$</string>
            <key>textureFileName</key>
            <string>falchion_13.png</string>
        </dict>
    </dict>
</plist>
