<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,157},{18,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,59}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>daos5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{49,176}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{49,176}}</string>
                <key>sourceSize</key>
                <string>{61,204}</string>
            </dict>
            <key>daos5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{75,209}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{75,209}}</string>
                <key>sourceSize</key>
                <string>{81,221}</string>
            </dict>
            <key>daos5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{33,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,94}}</string>
                <key>sourceSize</key>
                <string>{35,94}</string>
            </dict>
            <key>daos5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{33,185}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{33,185}}</string>
                <key>sourceSize</key>
                <string>{35,209}</string>
            </dict>
            <key>daos5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,209}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{76,209}}</string>
                <key>sourceSize</key>
                <string>{80,221}</string>
            </dict>
            <key>daos5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,243},{83,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{83,140}}</string>
                <key>sourceSize</key>
                <string>{83,148}</string>
            </dict>
            <key>daos5_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,208},{33,125}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,125}}</string>
                <key>sourceSize</key>
                <string>{35,125}</string>
            </dict>
            <key>daos5_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,189},{50,149}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,149}}</string>
                <key>sourceSize</key>
                <string>{56,153}</string>
            </dict>
            <key>daos5_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,328},{33,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,133}}</string>
                <key>sourceSize</key>
                <string>{35,133}</string>
            </dict>
            <key>daos5_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{49,146}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,146}}</string>
                <key>sourceSize</key>
                <string>{55,152}</string>
            </dict>
            <key>daos5_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,340},{55,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,124}}</string>
                <key>sourceSize</key>
                <string>{55,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab780b08ba6f8c81eb4c5fd49705f8f7$</string>
            <key>textureFileName</key>
            <string>falchion_5.png</string>
        </dict>
    </dict>
</plist>
