<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,65}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>daos17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,0},{59,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,200}}</string>
                <key>sourceSize</key>
                <string>{59,200}</string>
            </dict>
            <key>daos17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{81,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,205}}</string>
                <key>sourceSize</key>
                <string>{81,205}</string>
            </dict>
            <key>daos17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,200},{35,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,92}}</string>
                <key>sourceSize</key>
                <string>{35,92}</string>
            </dict>
            <key>daos17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,405},{35,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,203}}</string>
                <key>sourceSize</key>
                <string>{35,203}</string>
            </dict>
            <key>daos17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,405},{80,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,217}}</string>
                <key>sourceSize</key>
                <string>{80,217}</string>
            </dict>
            <key>daos17_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,622},{83,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,144}}</string>
                <key>sourceSize</key>
                <string>{83,144}</string>
            </dict>
            <key>daos17_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,622},{35,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,121}}</string>
                <key>sourceSize</key>
                <string>{35,121}</string>
            </dict>
            <key>daos17_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{48,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,153}}</string>
                <key>sourceSize</key>
                <string>{48,153}</string>
            </dict>
            <key>daos17_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,766},{35,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,133}}</string>
                <key>sourceSize</key>
                <string>{35,133}</string>
            </dict>
            <key>daos17_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,919},{49,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,152}}</string>
                <key>sourceSize</key>
                <string>{49,152}</string>
            </dict>
            <key>daos17_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,919},{62,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,116}}</string>
                <key>sourceSize</key>
                <string>{62,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_17.png</string>
            <key>size</key>
            <string>{118,1071}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7685352091f1c396242f95706dca4c9c$</string>
            <key>textureFileName</key>
            <string>falchion_17.png</string>
        </dict>
    </dict>
</plist>
