<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiany_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{19,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,177}}</string>
                <key>sourceSize</key>
                <string>{19,177}</string>
            </dict>
            <key>jiany_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{8,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,84}}</string>
                <key>sourceSize</key>
                <string>{8,84}</string>
            </dict>
            <key>jiany_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,177},{19,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,84}}</string>
                <key>sourceSize</key>
                <string>{19,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianyduan_1.png</string>
            <key>size</key>
            <string>{19,345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74d5a70cffc4b972a3a5f6554eec350c$</string>
            <key>textureFileName</key>
            <string>jianyduan_1.png</string>
        </dict>
    </dict>
</plist>
