<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skill13_zhan_2.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill13_zhan_1.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>skill13_juhe00.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>skill130.png</string>
			<key>realTextureFileName</key>
			<string>skill130.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>