<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{564,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{564,81}}</string>
                <key>sourceSize</key>
                <string>{566,81}</string>
            </dict>
            <key>blg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{554,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,66}}</string>
                <key>sourceSize</key>
                <string>{554,66}</string>
            </dict>
            <key>blg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{554,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{554,77}}</string>
                <key>sourceSize</key>
                <string>{554,79}</string>
            </dict>
            <key>blg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{562,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,79}}</string>
                <key>sourceSize</key>
                <string>{562,79}</string>
            </dict>
            <key>blg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{562,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{562,87}}</string>
                <key>sourceSize</key>
                <string>{568,91}</string>
            </dict>
            <key>blg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{548,85}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{548,85}}</string>
                <key>sourceSize</key>
                <string>{562,85}</string>
            </dict>
            <key>blg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{557,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{557,63}}</string>
                <key>sourceSize</key>
                <string>{559,63}</string>
            </dict>
            <key>blg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{566,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,58}}</string>
                <key>sourceSize</key>
                <string>{566,58}</string>
            </dict>
            <key>blg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{562,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,53}}</string>
                <key>sourceSize</key>
                <string>{562,53}</string>
            </dict>
            <key>blg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{557,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{557,54}}</string>
                <key>sourceSize</key>
                <string>{561,54}</string>
            </dict>
            <key>blg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{557,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{557,64}}</string>
                <key>sourceSize</key>
                <string>{561,64}</string>
            </dict>
            <key>blg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{557,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{557,61}}</string>
                <key>sourceSize</key>
                <string>{561,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blg01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6073f484e739fcd879fb54ab8cbd7f9e$</string>
            <key>textureFileName</key>
            <string>blg01.png</string>
        </dict>
    </dict>
</plist>
