<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,229}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{231,231}</string>
            </dict>
            <key>sl12.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{227,213}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{227,213}}</string>
                <key>sourceSize</key>
                <string>{231,227}</string>
            </dict>
            <key>sl13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{237,229}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{237,229}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>sl14.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,233},{257,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{257,237}}</string>
                <key>sourceSize</key>
                <string>{257,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sl1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ee5ddc369bd40511cb1946bde7dbad5$</string>
            <key>textureFileName</key>
            <string>sl1.png</string>
        </dict>
    </dict>
</plist>
