<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,406}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,406}}</string>
                <key>sourceSize</key>
                <string>{283,408}</string>
            </dict>
            <key>sl22.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{273,414}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{273,414}}</string>
                <key>sourceSize</key>
                <string>{275,416}</string>
            </dict>
            <key>sl23.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{301,400}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,400}}</string>
                <key>sourceSize</key>
                <string>{303,402}</string>
            </dict>
            <key>sl24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{277,406}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,406}}</string>
                <key>sourceSize</key>
                <string>{279,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sl2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6de5e3632b13bb8d9ab4c04e26ddecf4$</string>
            <key>textureFileName</key>
            <string>sl2.png</string>
        </dict>
    </dict>
</plist>
