<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,396}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,396}}</string>
                <key>sourceSize</key>
                <string>{214,398}</string>
            </dict>
            <key>sl32.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{210,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{210,398}}</string>
                <key>sourceSize</key>
                <string>{210,400}</string>
            </dict>
            <key>sl33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{214,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{214,396}}</string>
                <key>sourceSize</key>
                <string>{216,398}</string>
            </dict>
            <key>sl34.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,402},{216,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{216,400}}</string>
                <key>sourceSize</key>
                <string>{216,402}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sl3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed54cf8239f6dbb9c859fd1dd8ec3717$</string>
            <key>textureFileName</key>
            <string>sl3.png</string>
        </dict>
    </dict>
</plist>
