<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhucnvzhu_2faliu.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,49},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>zhucnvzhu_2faliu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,49},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>zhucnvzhu_2fawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,101},{26,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,95}}</string>
                <key>sourceSize</key>
                <string>{26,95}</string>
            </dict>
            <key>zhucnvzhu_2ftou.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,155},{77,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{79,74}</string>
            </dict>
            <key>zhucnvzhu_2ftou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>zhucnvzhu_2ftoueye.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,275},{39,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>zhucnvzhu_2ftoueye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,231},{40,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{40,27}}</string>
                <key>sourceSize</key>
                <string>{42,29}</string>
            </dict>
            <key>zhucnvzhu_2ftoushi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,49},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>zhucnvzhu_2ftoushi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,49},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>zhucnvzhu_2ftouzui.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{29,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,12}}</string>
                <key>sourceSize</key>
                <string>{31,12}</string>
            </dict>
            <key>zhucnvzhu_2ftouzui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,33},{35,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,11}}</string>
                <key>sourceSize</key>
                <string>{35,11}</string>
            </dict>
            <key>zhucnvzhu_2lianhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,106},{47,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,35}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>zhucnvzhu_2sanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,252},{38,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,64}}</string>
                <key>sourceSize</key>
                <string>{38,64}</string>
            </dict>
            <key>zhucnvzhu_2shenh.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,231},{55,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,66}}</string>
                <key>sourceSize</key>
                <string>{55,66}</string>
            </dict>
            <key>zhucnvzhu_2shens.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,155},{45,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,80}}</string>
                <key>sourceSize</key>
                <string>{45,80}</string>
            </dict>
            <key>zhucnvzhu_2shenx.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,202},{48,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,73}}</string>
                <key>sourceSize</key>
                <string>{48,73}</string>
            </dict>
            <key>zhucnvzhu_2shoud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,273},{23,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,61}}</string>
                <key>sourceSize</key>
                <string>{23,61}</string>
            </dict>
            <key>zhucnvzhu_2shoud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{27,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,72}}</string>
                <key>sourceSize</key>
                <string>{29,72}</string>
            </dict>
            <key>zhucnvzhu_2shoux1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>zhucnvzhu_2shoux2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,75},{24,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,104}}</string>
                <key>sourceSize</key>
                <string>{24,104}</string>
            </dict>
            <key>zhucnvzhu_2shoux2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,49},{24,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,112}}</string>
                <key>sourceSize</key>
                <string>{24,112}</string>
            </dict>
            <key>zhucnvzhu_2shouxiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,119}}</string>
                <key>sourceSize</key>
                <string>{58,119}</string>
            </dict>
            <key>zhucnvzhu_2shouxiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{45,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,117}}</string>
                <key>sourceSize</key>
                <string>{45,117}</string>
            </dict>
            <key>zhucnvzhu_2shouz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,75},{29,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,19}}</string>
                <key>sourceSize</key>
                <string>{31,19}</string>
            </dict>
            <key>zhucnvzhu_2shouz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,130},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>zhucnvzhu_2shouz2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,70},{17,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,58}}</string>
                <key>sourceSize</key>
                <string>{17,58}</string>
            </dict>
            <key>zhucnvzhu_2tuid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{35,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,104}}</string>
                <key>sourceSize</key>
                <string>{35,104}</string>
            </dict>
            <key>zhucnvzhu_2tuid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{35,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,99}}</string>
                <key>sourceSize</key>
                <string>{35,99}</string>
            </dict>
            <key>zhucnvzhu_2tuix1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,129},{24,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,89}}</string>
                <key>sourceSize</key>
                <string>{24,89}</string>
            </dict>
            <key>zhucnvzhu_2tuix2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{30,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,83}}</string>
                <key>sourceSize</key>
                <string>{30,83}</string>
            </dict>
            <key>zhucnvzhu_2tuiz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,288},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>zhucnvzhu_2tuiz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,288},{44,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,30}}</string>
                <key>sourceSize</key>
                <string>{44,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhucheng_nvzhu20.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66fc959ed4ef1692e50cacacadcebd6f$</string>
            <key>textureFileName</key>
            <string>zhucheng_nvzhu20.png</string>
        </dict>
    </dict>
</plist>
