<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccjz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,205}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,205}}</string>
                <key>sourceSize</key>
                <string>{243,205}</string>
            </dict>
            <key>ccjz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{163,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,89}}</string>
                <key>sourceSize</key>
                <string>{163,91}</string>
            </dict>
            <key>ccjz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,209},{48,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,33}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>ccjz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,259},{114,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{118,34}</string>
            </dict>
            <key>ccjz05.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>npcnamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{165,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{165,36}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>phbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,209},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,48}}</string>
                <key>sourceSize</key>
                <string>{122,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ccjz1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66104f2ad03be5b4ac67ac0da24fcc2e$</string>
            <key>textureFileName</key>
            <string>ccjz1.png</string>
        </dict>
    </dict>
</plist>
