<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuanren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,606},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>xuanren_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{101,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,246}}</string>
                <key>sourceSize</key>
                <string>{101,246}</string>
            </dict>
            <key>xuanren_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,580},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>xuanren_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,81},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>xuanren_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,470},{108,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,58}}</string>
                <key>sourceSize</key>
                <string>{108,58}</string>
            </dict>
            <key>xuanren_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,622},{53,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,78}}</string>
                <key>sourceSize</key>
                <string>{53,78}</string>
            </dict>
            <key>xuanren_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,630},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>xuanren_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,470},{55,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,119}}</string>
                <key>sourceSize</key>
                <string>{55,119}</string>
            </dict>
            <key>xuanren_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,578},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>xuanren_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,379},{89,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,190}}</string>
                <key>sourceSize</key>
                <string>{89,190}</string>
            </dict>
            <key>xuanren_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,522},{82,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,117}}</string>
                <key>sourceSize</key>
                <string>{82,117}</string>
            </dict>
            <key>xuanren_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,264},{30,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,15}}</string>
                <key>sourceSize</key>
                <string>{30,15}</string>
            </dict>
            <key>xuanren_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{123,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,200}}</string>
                <key>sourceSize</key>
                <string>{123,200}</string>
            </dict>
            <key>xuanren_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,73},{74,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,151}}</string>
                <key>sourceSize</key>
                <string>{74,151}</string>
            </dict>
            <key>xuanren_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{47,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,137}}</string>
                <key>sourceSize</key>
                <string>{47,137}</string>
            </dict>
            <key>xuanren_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,142},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{34,58}</string>
            </dict>
            <key>xuanren_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{69,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,172}}</string>
                <key>sourceSize</key>
                <string>{69,172}</string>
            </dict>
            <key>xuanren_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,149},{54,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,151}}</string>
                <key>sourceSize</key>
                <string>{54,151}</string>
            </dict>
            <key>xuanren_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,446},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>xuanren_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,670},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>xuanren_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,130}}</string>
                <key>sourceSize</key>
                <string>{319,130}</string>
            </dict>
            <key>xuanren_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,237},{94,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,43}}</string>
                <key>sourceSize</key>
                <string>{94,43}</string>
            </dict>
            <key>xuanren_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,205},{7,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,15}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>xuanren_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,456},{101,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,60}}</string>
                <key>sourceSize</key>
                <string>{101,60}</string>
            </dict>
            <key>xuanren_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,177},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>xuanren_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,306},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>xuanren_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,333},{68,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,43}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>xuanren_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,134},{41,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,70}}</string>
                <key>sourceSize</key>
                <string>{41,70}</string>
            </dict>
            <key>xuanren_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,527},{49,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,117}}</string>
                <key>sourceSize</key>
                <string>{49,117}</string>
            </dict>
            <key>xuanren_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,470},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>xuanren_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,500},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>xuanren_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,389},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>xuanren_381.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,24},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>xuanren_382.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>xuanren_383.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,46},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>xuanren_384.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,65},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>xuanren_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>xuanren_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,205},{6,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,27}}</string>
                <key>sourceSize</key>
                <string>{6,27}</string>
            </dict>
            <key>xuanren_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{87,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,144}}</string>
                <key>sourceSize</key>
                <string>{87,144}</string>
            </dict>
            <key>xuanren_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,681},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>xuanren_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,569},{80,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,110}}</string>
                <key>sourceSize</key>
                <string>{80,110}</string>
            </dict>
            <key>xuanren_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,403},{51,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,99}}</string>
                <key>sourceSize</key>
                <string>{51,99}</string>
            </dict>
            <key>xuanren_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,622},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>xuanren_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,217},{45,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,219}}</string>
                <key>sourceSize</key>
                <string>{45,219}</string>
            </dict>
            <key>xuanren_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,647},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>xuanren_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,362},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>xuanren_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,606},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>xuanren_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,664},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>xuanren_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,665},{20,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,34}}</string>
                <key>sourceSize</key>
                <string>{20,34}</string>
            </dict>
            <key>xuanren_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,630},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>xuanren_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,492},{75,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,83}}</string>
                <key>sourceSize</key>
                <string>{75,83}</string>
            </dict>
            <key>xuanren_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,202},{47,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,34}}</string>
                <key>sourceSize</key>
                <string>{47,34}</string>
            </dict>
            <key>xuanren_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,251},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>xuanren_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,630},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>xuanren_texiaotu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,264},{200,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,113}}</string>
                <key>sourceSize</key>
                <string>{200,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baijixiuluo0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d99f0c0aea76b960128f2288012c2360$</string>
            <key>textureFileName</key>
            <string>baijixiuluo0.png</string>
        </dict>
    </dict>
</plist>
