<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{156,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,140}}</string>
                <key>sourceSize</key>
                <string>{156,140}</string>
            </dict>
            <key>chuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{156,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,140}}</string>
                <key>sourceSize</key>
                <string>{156,140}</string>
            </dict>
            <key>chuan_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,150},{50,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,47}}</string>
                <key>sourceSize</key>
                <string>{50,47}</string>
            </dict>
            <key>chuan_f2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>chuan_f2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,54},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>chuan_f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,102},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>chuan_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,174}}</string>
                <key>sourceSize</key>
                <string>{172,174}</string>
            </dict>
            <key>chuan_q12.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,239},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>chuan_q13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,227},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>chuan_q14.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,233},{28,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,13}}</string>
                <key>sourceSize</key>
                <string>{28,13}</string>
            </dict>
            <key>chuan_q15.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,218},{30,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,13}</string>
            </dict>
            <key>chuan_q16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,211},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>chuan_q21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,176},{42,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,16}}</string>
                <key>sourceSize</key>
                <string>{42,16}</string>
            </dict>
            <key>chuan_q22.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,54},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>chuan_q23.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,166},{43,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,17}}</string>
                <key>sourceSize</key>
                <string>{43,17}</string>
            </dict>
            <key>chuan_q24.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,199},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>chuan_q25.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,103},{42,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,18}}</string>
                <key>sourceSize</key>
                <string>{42,18}</string>
            </dict>
            <key>chuan_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,147},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>chuan_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,220},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuan0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae41a8f643c5e8e218315fe6b22a189$</string>
            <key>textureFileName</key>
            <string>chuan0.png</string>
        </dict>
    </dict>
</plist>
