<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_deg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,202}}</string>
                <key>sourceSize</key>
                <string>{405,202}</string>
            </dict>
            <key>effect_deg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,108},{34,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,64}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>effect_deg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{104,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,76}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>effect_deg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,108},{111,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,28}}</string>
                <key>sourceSize</key>
                <string>{111,28}</string>
            </dict>
            <key>effect_deg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,206},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>effect_finish_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{196,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,142}}</string>
                <key>sourceSize</key>
                <string>{196,142}</string>
            </dict>
            <key>ui_jiantou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{246,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,58}}</string>
                <key>sourceSize</key>
                <string>{246,58}</string>
            </dict>
            <key>ui_jiantou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,144},{133,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,62}}</string>
                <key>sourceSize</key>
                <string>{133,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_begin0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ed0b7f8f5b9490b5dfd7bea905e7596$</string>
            <key>textureFileName</key>
            <string>effect_begin0.png</string>
        </dict>
    </dict>
</plist>
