<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gndh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>gndh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>gndh03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,144}}</string>
                <key>sourceSize</key>
                <string>{140,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gndh.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84aeadd669e23c78fc5f0e7aba731f14$</string>
            <key>textureFileName</key>
            <string>gndh.png</string>
        </dict>
    </dict>
</plist>
