<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kapdh01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{111,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,133}}</string>
                <key>sourceSize</key>
                <string>{111,133}</string>
            </dict>
            <key>kapdh02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,163}}</string>
                <key>sourceSize</key>
                <string>{128,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kapdha.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0129b991d2c4bc0df176be35518b0cb3$</string>
            <key>textureFileName</key>
            <string>kapdha.png</string>
        </dict>
    </dict>
</plist>
