<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beijing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{455,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,84}}</string>
                <key>sourceSize</key>
                <string>{455,84}</string>
            </dict>
            <key>beijing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{452,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,130}}</string>
                <key>sourceSize</key>
                <string>{452,130}</string>
            </dict>
            <key>dheimu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{285,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,190}}</string>
                <key>sourceSize</key>
                <string>{285,190}</string>
            </dict>
            <key>eye_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,349},{61,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,37}}</string>
                <key>sourceSize</key>
                <string>{61,37}</string>
            </dict>
            <key>eye_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,71},{68,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,49}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>eye_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,282},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>eye_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{67,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,50}}</string>
                <key>sourceSize</key>
                <string>{67,50}</string>
            </dict>
            <key>heimu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,394},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>role_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,699},{96,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,140}}</string>
                <key>sourceSize</key>
                <string>{96,140}</string>
            </dict>
            <key>role_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,757},{63,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,94}}</string>
                <key>sourceSize</key>
                <string>{63,94}</string>
            </dict>
            <key>role_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,141},{53,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,84}}</string>
                <key>sourceSize</key>
                <string>{53,84}</string>
            </dict>
            <key>role_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,822},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>role_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,227},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>role_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,797},{68,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,136}}</string>
                <key>sourceSize</key>
                <string>{68,136}</string>
            </dict>
            <key>role_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{25,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,79}}</string>
                <key>sourceSize</key>
                <string>{25,79}</string>
            </dict>
            <key>role_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{24,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,66}}</string>
                <key>sourceSize</key>
                <string>{24,66}</string>
            </dict>
            <key>role_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,891},{105,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,79}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>role_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,757},{132,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
            <key>role_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,932},{127,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,82}}</string>
                <key>sourceSize</key>
                <string>{127,82}</string>
            </dict>
            <key>role_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{111,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,291}}</string>
                <key>sourceSize</key>
                <string>{111,291}</string>
            </dict>
            <key>role_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,797},{133,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,126}}</string>
                <key>sourceSize</key>
                <string>{133,126}</string>
            </dict>
            <key>role_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,935},{79,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,86}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>role_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,822},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,552},{216,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,203}}</string>
                <key>sourceSize</key>
                <string>{216,203}</string>
            </dict>
            <key>tree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{449,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,172}}</string>
                <key>sourceSize</key>
                <string>{449,172}</string>
            </dict>
            <key>tree_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{244,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,94}}</string>
                <key>sourceSize</key>
                <string>{244,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>land_background_20.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:256e76c0835a16db4404ca541d2d715a$</string>
            <key>textureFileName</key>
            <string>land_background_20.png</string>
        </dict>
    </dict>
</plist>
