<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,337},{314,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{314,212}}</string>
                <key>sourceSize</key>
                <string>{316,214}</string>
            </dict>
            <key>shang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,89},{352,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,66}}</string>
                <key>sourceSize</key>
                <string>{352,66}</string>
            </dict>
            <key>shang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,337},{270,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,57}}</string>
                <key>sourceSize</key>
                <string>{270,57}</string>
            </dict>
            <key>shang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,351},{162,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,41}}</string>
                <key>sourceSize</key>
                <string>{162,41}</string>
            </dict>
            <key>shang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,551},{180,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,52}}</string>
                <key>sourceSize</key>
                <string>{180,52}</string>
            </dict>
            <key>shang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,351},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{174,48}}</string>
                <key>sourceSize</key>
                <string>{174,50}</string>
            </dict>
            <key>shang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,351},{173,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,48}}</string>
                <key>sourceSize</key>
                <string>{173,48}</string>
            </dict>
            <key>shang7.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,609},{266,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,71}}</string>
                <key>sourceSize</key>
                <string>{266,73}</string>
            </dict>
            <key>smbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,347}}</string>
                <key>sourceSize</key>
                <string>{640,347}</string>
            </dict>
            <key>tkbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{640,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,93}}</string>
                <key>sourceSize</key>
                <string>{640,93}</string>
            </dict>
            <key>yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{361,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,85}}</string>
                <key>sourceSize</key>
                <string>{361,85}</string>
            </dict>
            <key>yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,251},{345,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,84}}</string>
                <key>sourceSize</key>
                <string>{345,84}</string>
            </dict>
            <key>yun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,157},{350,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{350,92}}</string>
                <key>sourceSize</key>
                <string>{352,92}</string>
            </dict>
            <key>yun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,351},{176,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,75}}</string>
                <key>sourceSize</key>
                <string>{176,75}</string>
            </dict>
            <key>yun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,877},{154,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tongsbj0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdfd3eff9cca4fc312113492556831d4$</string>
            <key>textureFileName</key>
            <string>tongsbj0.png</string>
        </dict>
    </dict>
</plist>
