<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zgao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{181,248}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,248}}</string>
                <key>sourceSize</key>
                <string>{183,250}</string>
            </dict>
            <key>zgao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,256},{221,232}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,232}}</string>
                <key>sourceSize</key>
                <string>{223,234}</string>
            </dict>
            <key>zgao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,252}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,252}}</string>
                <key>sourceSize</key>
                <string>{201,254}</string>
            </dict>
            <key>zgao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{207,228}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{207,228}}</string>
                <key>sourceSize</key>
                <string>{209,230}</string>
            </dict>
            <key>zgao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,232},{189,220}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{189,220}}</string>
                <key>sourceSize</key>
                <string>{189,222}</string>
            </dict>
            <key>zgao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{189,218}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,218}}</string>
                <key>sourceSize</key>
                <string>{191,220}</string>
            </dict>
            <key>zgao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,222},{97,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zgao0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03c582d69d2b371cb8a858e0ee956ce7$</string>
            <key>textureFileName</key>
            <string>zgao0.png</string>
        </dict>
    </dict>
</plist>
