<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m15r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,9}}</string>
                <key>sourceSize</key>
                <string>{38,9}</string>
            </dict>
            <key>m15r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>m15r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>m15r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>m15r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>m15r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>m15r15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{22,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,38}}</string>
                <key>sourceSize</key>
                <string>{22,38}</string>
            </dict>
            <key>m15r16.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{22,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,39}}</string>
                <key>sourceSize</key>
                <string>{22,39}</string>
            </dict>
            <key>m15r18.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{23,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,38}}</string>
                <key>sourceSize</key>
                <string>{23,38}</string>
            </dict>
            <key>m15r19.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{22,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,37}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>m15r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{38,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,13}}</string>
                <key>sourceSize</key>
                <string>{38,13}</string>
            </dict>
            <key>m15r20.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,44},{21,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>m15r21.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,44},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>m15r22.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,44},{19,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,38}}</string>
                <key>sourceSize</key>
                <string>{19,38}</string>
            </dict>
            <key>m15r23.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,44},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{18,39}</string>
            </dict>
            <key>m15r24.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,44},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>m15r25.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,44},{19,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,39}}</string>
                <key>sourceSize</key>
                <string>{19,39}</string>
            </dict>
            <key>m15r26.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,44},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>m15r27.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,44},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>m15r28.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,44},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{28,35}</string>
            </dict>
            <key>m15r29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>m15r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,85},{37,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,16}}</string>
                <key>sourceSize</key>
                <string>{37,16}</string>
            </dict>
            <key>m15r30.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,85},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>m15r31.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,85},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>m15r32.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,85},{37,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,11}}</string>
                <key>sourceSize</key>
                <string>{37,11}</string>
            </dict>
            <key>m15r33.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,85},{39,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,11}}</string>
                <key>sourceSize</key>
                <string>{39,11}</string>
            </dict>
            <key>m15r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>m15r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,119},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>m15r6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,119},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>m15r7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,119},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>m15r8.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,119},{21,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,34}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>m15r9.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,119},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{20,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ren10.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621ce3ee570dc0a38d2fa2157af237a6$</string>
            <key>textureFileName</key>
            <string>ren10.png</string>
        </dict>
    </dict>
</plist>
