<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,246}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{58,246}}</string>
                <key>sourceSize</key>
                <string>{58,252}</string>
            </dict>
            <key>a20.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{62,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,297}}</string>
                <key>sourceSize</key>
                <string>{62,297}</string>
            </dict>
            <key>a30.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{248,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,226}}</string>
                <key>sourceSize</key>
                <string>{248,226}</string>
            </dict>
            <key>a40.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{123,307}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,307}}</string>
                <key>sourceSize</key>
                <string>{125,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiangj.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22ed5db7e74a286c56d9d0967447e9ac$</string>
            <key>textureFileName</key>
            <string>qiangj.png</string>
        </dict>
    </dict>
</plist>
