<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map11_b16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,215}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{235,215}}</string>
                <key>sourceSize</key>
                <string>{235,219}</string>
            </dict>
            <key>map11_b17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{129,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{129,225}}</string>
                <key>sourceSize</key>
                <string>{131,225}</string>
            </dict>
            <key>map11_b22.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,219},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{55,48}</string>
            </dict>
            <key>map11_b23.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,219},{55,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a9ac9754a614d1881386012db8afca5$</string>
            <key>textureFileName</key>
            <string>gate2.png</string>
        </dict>
    </dict>
</plist>
