<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map11_b14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,227}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{203,227}}</string>
                <key>sourceSize</key>
                <string>{203,231}</string>
            </dict>
            <key>map11_b15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{106,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,230}}</string>
                <key>sourceSize</key>
                <string>{108,230}</string>
            </dict>
            <key>map11_b20.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,231},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>map11_b21.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,231},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gate1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:667371844e7795de3a94a36573cb2545$</string>
            <key>textureFileName</key>
            <string>gate1.png</string>
        </dict>
    </dict>
</plist>
