<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{18,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,63}}</string>
                <key>sourceSize</key>
                <string>{18,63}</string>
            </dict>
            <key>daos11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,533},{66,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,216}}</string>
                <key>sourceSize</key>
                <string>{66,216}</string>
            </dict>
            <key>daos11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,320},{69,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,213}}</string>
                <key>sourceSize</key>
                <string>{69,213}</string>
            </dict>
            <key>daos11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,136},{67,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,177}}</string>
                <key>sourceSize</key>
                <string>{67,177}</string>
            </dict>
            <key>daos11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,533},{61,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,318}}</string>
                <key>sourceSize</key>
                <string>{61,318}</string>
            </dict>
            <key>daos11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,320},{70,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,213}}</string>
                <key>sourceSize</key>
                <string>{70,213}</string>
            </dict>
            <key>daos11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{81,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,136}}</string>
                <key>sourceSize</key>
                <string>{81,136}</string>
            </dict>
            <key>daos11_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,533},{70,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,249}}</string>
                <key>sourceSize</key>
                <string>{70,249}</string>
            </dict>
            <key>daos11_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,136},{67,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,184}}</string>
                <key>sourceSize</key>
                <string>{67,184}</string>
            </dict>
            <key>daos11_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{54,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,205}}</string>
                <key>sourceSize</key>
                <string>{54,205}</string>
            </dict>
            <key>daos11_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{55,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,152}}</string>
                <key>sourceSize</key>
                <string>{55,152}</string>
            </dict>
            <key>daos11_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,0},{51,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,124}}</string>
                <key>sourceSize</key>
                <string>{51,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_11.png</string>
            <key>size</key>
            <string>{197,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47e9aaa9173278d9157a76b62b8b5ac0$</string>
            <key>textureFileName</key>
            <string>falchion_11.png</string>
        </dict>
    </dict>
</plist>
