<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,139},{10,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,57}}</string>
                <key>sourceSize</key>
                <string>{12,57}</string>
            </dict>
            <key>daos10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{51,175}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,175}}</string>
                <key>sourceSize</key>
                <string>{51,177}</string>
            </dict>
            <key>daos10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{67,201}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{67,201}}</string>
                <key>sourceSize</key>
                <string>{69,205}</string>
            </dict>
            <key>daos10_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{39,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{39,106}}</string>
                <key>sourceSize</key>
                <string>{39,116}</string>
            </dict>
            <key>daos10_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{35,184}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,184}}</string>
                <key>sourceSize</key>
                <string>{35,186}</string>
            </dict>
            <key>daos10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,207}}</string>
                <key>sourceSize</key>
                <string>{66,207}</string>
            </dict>
            <key>daos10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{72,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{72,144}}</string>
                <key>sourceSize</key>
                <string>{72,152}</string>
            </dict>
            <key>daos10_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,365},{38,127}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,127}}</string>
                <key>sourceSize</key>
                <string>{42,129}</string>
            </dict>
            <key>daos10_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,110},{48,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,154}}</string>
                <key>sourceSize</key>
                <string>{50,156}</string>
            </dict>
            <key>daos10_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,229},{35,134}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{35,134}}</string>
                <key>sourceSize</key>
                <string>{35,142}</string>
            </dict>
            <key>daos10_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{53,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{53,164}}</string>
                <key>sourceSize</key>
                <string>{53,166}</string>
            </dict>
            <key>daos10_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,266},{45,125}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,125}}</string>
                <key>sourceSize</key>
                <string>{47,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_10.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ff06ff1f99c1f1938009297ad948ec4$</string>
            <key>textureFileName</key>
            <string>falchion_10.png</string>
        </dict>
    </dict>
</plist>
