<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,143},{12,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,61}}</string>
                <key>sourceSize</key>
                <string>{14,61}</string>
            </dict>
            <key>daos9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{59,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{59,176}}</string>
                <key>sourceSize</key>
                <string>{59,186}</string>
            </dict>
            <key>daos9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{76,199}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,199}}</string>
                <key>sourceSize</key>
                <string>{76,201}</string>
            </dict>
            <key>daos9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,46},{50,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,95}}</string>
                <key>sourceSize</key>
                <string>{50,99}</string>
            </dict>
            <key>daos9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{42,186}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,186}}</string>
                <key>sourceSize</key>
                <string>{44,188}</string>
            </dict>
            <key>daos9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,199}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,199}}</string>
                <key>sourceSize</key>
                <string>{77,201}</string>
            </dict>
            <key>daos9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{81,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,150}}</string>
                <key>sourceSize</key>
                <string>{81,154}</string>
            </dict>
            <key>daos9_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{50,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,125}}</string>
                <key>sourceSize</key>
                <string>{50,125}</string>
            </dict>
            <key>daos9_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,46},{66,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,149}}</string>
                <key>sourceSize</key>
                <string>{66,149}</string>
            </dict>
            <key>daos9_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,180},{42,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,132}}</string>
                <key>sourceSize</key>
                <string>{44,134}</string>
            </dict>
            <key>daos9_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,114},{66,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,144}}</string>
                <key>sourceSize</key>
                <string>{66,146}</string>
            </dict>
            <key>daos9_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,182},{59,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{59,120}}</string>
                <key>sourceSize</key>
                <string>{59,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_9.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61068dd0f45a00549ad7dfb83632b7e9$</string>
            <key>textureFileName</key>
            <string>falchion_9.png</string>
        </dict>
    </dict>
</plist>
