<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{20,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,63}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>daos6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{59,190}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{59,190}}</string>
                <key>sourceSize</key>
                <string>{61,204}</string>
            </dict>
            <key>daos6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,217}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{81,217}}</string>
                <key>sourceSize</key>
                <string>{81,221}</string>
            </dict>
            <key>daos6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,349},{35,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,92}}</string>
                <key>sourceSize</key>
                <string>{35,94}</string>
            </dict>
            <key>daos6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{35,193}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{35,193}}</string>
                <key>sourceSize</key>
                <string>{35,209}</string>
            </dict>
            <key>daos6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{80,217}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{80,217}}</string>
                <key>sourceSize</key>
                <string>{80,221}</string>
            </dict>
            <key>daos6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,349},{83,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{83,144}}</string>
                <key>sourceSize</key>
                <string>{83,148}</string>
            </dict>
            <key>daos6_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,386},{35,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{35,121}}</string>
                <key>sourceSize</key>
                <string>{35,125}</string>
            </dict>
            <key>daos6_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{48,153}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,153}}</string>
                <key>sourceSize</key>
                <string>{56,153}</string>
            </dict>
            <key>daos6_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,312},{35,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,133}}</string>
                <key>sourceSize</key>
                <string>{35,133}</string>
            </dict>
            <key>daos6_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,167},{49,152}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,152}}</string>
                <key>sourceSize</key>
                <string>{55,152}</string>
            </dict>
            <key>daos6_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{45,116}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{45,116}}</string>
                <key>sourceSize</key>
                <string>{55,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_6.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9924448bb67f26802f75b57d9ba1f6fe$</string>
            <key>textureFileName</key>
            <string>falchion_6.png</string>
        </dict>
    </dict>
</plist>
