<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,68}}</string>
                <key>sourceSize</key>
                <string>{20,68}</string>
            </dict>
            <key>daos15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{66,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,206}}</string>
                <key>sourceSize</key>
                <string>{66,206}</string>
            </dict>
            <key>daos15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,359},{88,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,197}}</string>
                <key>sourceSize</key>
                <string>{88,197}</string>
            </dict>
            <key>daos15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,0},{44,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,94}}</string>
                <key>sourceSize</key>
                <string>{44,94}</string>
            </dict>
            <key>daos15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,0},{31,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,210}}</string>
                <key>sourceSize</key>
                <string>{31,210}</string>
            </dict>
            <key>daos15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,359},{86,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,197}}</string>
                <key>sourceSize</key>
                <string>{86,197}</string>
            </dict>
            <key>daos15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,210},{90,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,138}}</string>
                <key>sourceSize</key>
                <string>{90,138}</string>
            </dict>
            <key>daos15_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{44,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,125}}</string>
                <key>sourceSize</key>
                <string>{44,125}</string>
            </dict>
            <key>daos15_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,210},{67,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,149}}</string>
                <key>sourceSize</key>
                <string>{67,149}</string>
            </dict>
            <key>daos15_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,0},{31,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,133}}</string>
                <key>sourceSize</key>
                <string>{31,133}</string>
            </dict>
            <key>daos15_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{66,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,148}}</string>
                <key>sourceSize</key>
                <string>{66,148}</string>
            </dict>
            <key>daos15_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{71,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,124}}</string>
                <key>sourceSize</key>
                <string>{71,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_15.png</string>
            <key>size</key>
            <string>{241,565}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e921c3617aecbfefce50f387134b554$</string>
            <key>textureFileName</key>
            <string>falchion_15.png</string>
        </dict>
    </dict>
</plist>
