<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,63}}</string>
                <key>sourceSize</key>
                <string>{20,63}</string>
            </dict>
            <key>daos9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,0},{77,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,210}}</string>
                <key>sourceSize</key>
                <string>{77,210}</string>
            </dict>
            <key>daos9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{84,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,209}}</string>
                <key>sourceSize</key>
                <string>{84,209}</string>
            </dict>
            <key>daos9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{52,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,101}}</string>
                <key>sourceSize</key>
                <string>{52,101}</string>
            </dict>
            <key>daos9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{44,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,202}}</string>
                <key>sourceSize</key>
                <string>{44,202}</string>
            </dict>
            <key>daos9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,0},{83,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,209}}</string>
                <key>sourceSize</key>
                <string>{83,209}</string>
            </dict>
            <key>daos9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{111,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,154}}</string>
                <key>sourceSize</key>
                <string>{111,154}</string>
            </dict>
            <key>daos9_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,0},{52,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,129}}</string>
                <key>sourceSize</key>
                <string>{52,129}</string>
            </dict>
            <key>daos9_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,0},{66,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,151}}</string>
                <key>sourceSize</key>
                <string>{66,151}</string>
            </dict>
            <key>daos9_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,0},{52,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,140}}</string>
                <key>sourceSize</key>
                <string>{52,140}</string>
            </dict>
            <key>daos9_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,0},{66,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{66,150}</string>
            </dict>
            <key>daos9_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,0},{71,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,128}}</string>
                <key>sourceSize</key>
                <string>{71,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_9.png</string>
            <key>size</key>
            <string>{778,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60b967e2ab8a0d07027848d8b5b08a2$</string>
            <key>textureFileName</key>
            <string>falchion_9.png</string>
        </dict>
    </dict>
</plist>
