<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,201},{11,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{11,58}}</string>
                <key>sourceSize</key>
                <string>{15,58}</string>
            </dict>
            <key>daos16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{48,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,159}}</string>
                <key>sourceSize</key>
                <string>{50,161}</string>
            </dict>
            <key>daos16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,185}}</string>
                <key>sourceSize</key>
                <string>{74,185}</string>
            </dict>
            <key>daos16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,154},{45,81}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{45,81}}</string>
                <key>sourceSize</key>
                <string>{47,95}</string>
            </dict>
            <key>daos16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{39,169}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{39,169}}</string>
                <key>sourceSize</key>
                <string>{39,171}</string>
            </dict>
            <key>daos16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{70,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,185}}</string>
                <key>sourceSize</key>
                <string>{70,185}</string>
            </dict>
            <key>daos16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,201},{74,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,141}}</string>
                <key>sourceSize</key>
                <string>{78,141}</string>
            </dict>
            <key>daos16_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{45,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,129}}</string>
                <key>sourceSize</key>
                <string>{47,129}</string>
            </dict>
            <key>daos16_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{53,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,127}}</string>
                <key>sourceSize</key>
                <string>{55,127}</string>
            </dict>
            <key>daos16_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{40,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,115}}</string>
                <key>sourceSize</key>
                <string>{40,117}</string>
            </dict>
            <key>daos16_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{63,150}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{63,150}}</string>
                <key>sourceSize</key>
                <string>{65,158}</string>
            </dict>
            <key>daos16_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{49,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,114}}</string>
                <key>sourceSize</key>
                <string>{49,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_16.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4251e8ebbfc1fed99186d38edc7a410$</string>
            <key>textureFileName</key>
            <string>falchion_16.png</string>
        </dict>
    </dict>
</plist>
