<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{22,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,71}}</string>
                <key>sourceSize</key>
                <string>{22,71}</string>
            </dict>
            <key>daos12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,0},{58,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,232}}</string>
                <key>sourceSize</key>
                <string>{58,232}</string>
            </dict>
            <key>daos12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{71,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,203}}</string>
                <key>sourceSize</key>
                <string>{71,203}</string>
            </dict>
            <key>daos12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,232},{36,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,106}}</string>
                <key>sourceSize</key>
                <string>{36,106}</string>
            </dict>
            <key>daos12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,435},{33,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,215}}</string>
                <key>sourceSize</key>
                <string>{33,215}</string>
            </dict>
            <key>daos12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,435},{70,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,203}}</string>
                <key>sourceSize</key>
                <string>{70,203}</string>
            </dict>
            <key>daos12_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{69,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,145}}</string>
                <key>sourceSize</key>
                <string>{69,145}</string>
            </dict>
            <key>daos12_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,650},{34,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,131}}</string>
                <key>sourceSize</key>
                <string>{34,131}</string>
            </dict>
            <key>daos12_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,795},{56,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,147}}</string>
                <key>sourceSize</key>
                <string>{56,147}</string>
            </dict>
            <key>daos12_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,795},{31,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,138}}</string>
                <key>sourceSize</key>
                <string>{31,138}</string>
            </dict>
            <key>daos12_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{55,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,146}}</string>
                <key>sourceSize</key>
                <string>{55,146}</string>
            </dict>
            <key>daos12_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,942},{53,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,124}}</string>
                <key>sourceSize</key>
                <string>{53,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_12.png</string>
            <key>size</key>
            <string>{108,1088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29c4b242071370497f27d985b3fbae38$</string>
            <key>textureFileName</key>
            <string>falchion_12.png</string>
        </dict>
    </dict>
</plist>
