<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,257},{16,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,63}}</string>
                <key>sourceSize</key>
                <string>{16,63}</string>
            </dict>
            <key>daos14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{56,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,198}}</string>
                <key>sourceSize</key>
                <string>{56,200}</string>
            </dict>
            <key>daos14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,215}}</string>
                <key>sourceSize</key>
                <string>{81,215}</string>
            </dict>
            <key>daos14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,133},{33,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,104}}</string>
                <key>sourceSize</key>
                <string>{35,104}</string>
            </dict>
            <key>daos14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{31,207}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,207}}</string>
                <key>sourceSize</key>
                <string>{33,209}</string>
            </dict>
            <key>daos14_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{79,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,215}}</string>
                <key>sourceSize</key>
                <string>{81,215}</string>
            </dict>
            <key>daos14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{81,162}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{81,162}}</string>
                <key>sourceSize</key>
                <string>{83,166}</string>
            </dict>
            <key>daos14_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{33,129}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,129}}</string>
                <key>sourceSize</key>
                <string>{35,129}</string>
            </dict>
            <key>daos14_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,239},{48,147}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{48,147}}</string>
                <key>sourceSize</key>
                <string>{50,149}</string>
            </dict>
            <key>daos14_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{39,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,160}}</string>
                <key>sourceSize</key>
                <string>{39,164}</string>
            </dict>
            <key>daos14_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,340},{45,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,148}}</string>
                <key>sourceSize</key>
                <string>{47,150}</string>
            </dict>
            <key>daos14_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,387},{47,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,126}}</string>
                <key>sourceSize</key>
                <string>{51,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_14.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1096496228c0832e92fecf840690c6f$</string>
            <key>textureFileName</key>
            <string>falchion_14.png</string>
        </dict>
    </dict>
</plist>
