<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{20,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,63}}</string>
                <key>sourceSize</key>
                <string>{20,65}</string>
            </dict>
            <key>daos4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{56,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,186}}</string>
                <key>sourceSize</key>
                <string>{56,186}</string>
            </dict>
            <key>daos4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{81,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,221}}</string>
                <key>sourceSize</key>
                <string>{81,221}</string>
            </dict>
            <key>daos4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,299},{35,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,92}}</string>
                <key>sourceSize</key>
                <string>{35,94}</string>
            </dict>
            <key>daos4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{35,205}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,205}}</string>
                <key>sourceSize</key>
                <string>{35,209}</string>
            </dict>
            <key>daos4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,221}}</string>
                <key>sourceSize</key>
                <string>{81,221}</string>
            </dict>
            <key>daos4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,385},{83,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,144}}</string>
                <key>sourceSize</key>
                <string>{83,148}</string>
            </dict>
            <key>daos4_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{35,121}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,121}}</string>
                <key>sourceSize</key>
                <string>{35,125}</string>
            </dict>
            <key>daos4_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{56,151}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,151}}</string>
                <key>sourceSize</key>
                <string>{56,153}</string>
            </dict>
            <key>daos4_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,168},{35,129}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,129}}</string>
                <key>sourceSize</key>
                <string>{35,133}</string>
            </dict>
            <key>daos4_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{55,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,150}}</string>
                <key>sourceSize</key>
                <string>{55,152}</string>
            </dict>
            <key>daos4_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,263},{51,120}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,120}}</string>
                <key>sourceSize</key>
                <string>{55,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2516e187d8e7c0a4a0286b40e3399456$</string>
            <key>textureFileName</key>
            <string>falchion_4.png</string>
        </dict>
    </dict>
</plist>
