<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daob3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{22,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,86}}</string>
                <key>sourceSize</key>
                <string>{22,86}</string>
            </dict>
            <key>daos3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,168},{74,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,245}}</string>
                <key>sourceSize</key>
                <string>{74,245}</string>
            </dict>
            <key>daos3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,168},{89,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,243}}</string>
                <key>sourceSize</key>
                <string>{89,243}</string>
            </dict>
            <key>daos3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,0},{72,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,103}}</string>
                <key>sourceSize</key>
                <string>{72,103}</string>
            </dict>
            <key>daos3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,168},{77,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,209}}</string>
                <key>sourceSize</key>
                <string>{77,209}</string>
            </dict>
            <key>daos3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,168},{80,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,232}}</string>
                <key>sourceSize</key>
                <string>{80,232}</string>
            </dict>
            <key>daos3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{100,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,148}}</string>
                <key>sourceSize</key>
                <string>{100,148}</string>
            </dict>
            <key>daos3_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{82,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,125}}</string>
                <key>sourceSize</key>
                <string>{82,125}</string>
            </dict>
            <key>daos3_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{62,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,168}}</string>
                <key>sourceSize</key>
                <string>{62,168}</string>
            </dict>
            <key>daos3_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{77,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,133}}</string>
                <key>sourceSize</key>
                <string>{77,133}</string>
            </dict>
            <key>daos3_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{61,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,167}}</string>
                <key>sourceSize</key>
                <string>{61,167}</string>
            </dict>
            <key>daos3_d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{66,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,149}}</string>
                <key>sourceSize</key>
                <string>{66,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>falchion_3.png</string>
            <key>size</key>
            <string>{442,413}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4b575e44ba1e9bbbad356674ab5b3ed$</string>
            <key>textureFileName</key>
            <string>falchion_3.png</string>
        </dict>
    </dict>
</plist>
