<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_lc_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,334},{63,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>hero_lc_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{42,131}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,131}}</string>
                <key>sourceSize</key>
                <string>{46,137}</string>
            </dict>
            <key>hero_lc_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,439},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>hero_lc_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,221},{24,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{24,50}</string>
            </dict>
            <key>hero_lc_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,387},{41,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,47}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>hero_lc_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,113},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>hero_lc_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,223},{38,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,51}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>hero_lc_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,85},{38,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,89}}</string>
                <key>sourceSize</key>
                <string>{38,89}</string>
            </dict>
            <key>hero_lc_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,278},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>hero_lc_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,305},{31,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{31,63}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>hero_lc_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,246},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>hero_lc_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,341},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>hero_lc_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{141,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,87}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>hero_lc_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,433},{23,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{25,39}</string>
            </dict>
            <key>hero_lc_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_lc_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,493},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>hero_lc_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,365},{20,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,58}}</string>
                <key>sourceSize</key>
                <string>{20,58}</string>
            </dict>
            <key>hero_lc_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,458},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>hero_lc_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_lc_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,406},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>hero_lc_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,369},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>hero_lc_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,488},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>hero_lc_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,430},{26,45}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>hero_lc_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{26,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>hero_lc_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,428},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,31}}</string>
                <key>sourceSize</key>
                <string>{20,31}</string>
            </dict>
            <key>hero_lc_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,393},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>hero_lc_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,369},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>hero_lc_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,266},{66,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,70}</string>
            </dict>
            <key>hero_lc_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,182},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>hero_lc_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,269},{59,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,45}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>hero_lc_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,411},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>hero_lc_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,125},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,78}}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
            <key>hero_lc_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,438},{41,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>hero_lc_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,370},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>hero_lc_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{29,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,54}}</string>
                <key>sourceSize</key>
                <string>{29,62}</string>
            </dict>
            <key>hero_lc_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>hero_lc_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,401},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>hero_lc_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,181},{116,63}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{116,63}}</string>
                <key>sourceSize</key>
                <string>{122,63}</string>
            </dict>
            <key>hero_lc_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{125,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{125,64}}</string>
                <key>sourceSize</key>
                <string>{129,64}</string>
            </dict>
            <key>hero_lc_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,91},{123,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{123,62}}</string>
                <key>sourceSize</key>
                <string>{129,66}</string>
            </dict>
            <key>hero_lc_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,68},{124,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{124,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>hero_lc_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,128},{118,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,51}}</string>
                <key>sourceSize</key>
                <string>{120,51}</string>
            </dict>
            <key>hero_lc_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,284},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>hero_lc_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,459},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>hero_lc_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,399},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>hero_lc_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,301},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>hero_lc_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,316},{65,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,47}}</string>
                <key>sourceSize</key>
                <string>{67,47}</string>
            </dict>
            <key>hero_lc_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>hero_lc_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,488},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>hero_lc_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,463},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>hero_lc_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,399},{44,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>hero_lc_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,479},{25,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>hero_lc_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,125},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>hero_lc_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,466},{39,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>hero_lc_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{23,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,26}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>hero_lc_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,374},{50,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>hero_lc_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{39,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,69}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>hero_lc_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,165},{24,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,54}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>hero_lc_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,481},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>hero_lc_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,279},{35,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,66}}</string>
                <key>sourceSize</key>
                <string>{35,66}</string>
            </dict>
            <key>hero_lc_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,474},{41,41}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>hero_lc_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,361},{65,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,30}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>hero_lc_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,463},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,28}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>hero_lc_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,129},{16,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{16,34}</string>
            </dict>
            <key>hero_lc_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,445},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>hero_lc_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,408},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{55,56}</string>
            </dict>
            <key>hero_lc_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{60,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,75}}</string>
                <key>sourceSize</key>
                <string>{60,77}</string>
            </dict>
            <key>hero_lc_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,263},{36,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,51}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>hero_lc_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,445},{46,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>hero_lc_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,85},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>hero_lc_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,91},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>hero_lc_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,52}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_lc_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,492},{37,27}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>hero_lc_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,521},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>hero_lc_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,159},{47,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,21}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_lc_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,450},{37,40}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{47,52}</string>
            </dict>
            <key>hero_lc_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,487},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>hero_lc_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,296},{63,67}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{63,67}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>hero_lc_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{57,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{61,69}</string>
            </dict>
            <key>hero_lc_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,330},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>hero_lc_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,362},{44,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>hero_lc_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,155},{116,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>hero_lc_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,273},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>hero_lc_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_lc_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_lc_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,511},{36,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>hero_lc_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,246},{31,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,76}}</string>
                <key>sourceSize</key>
                <string>{31,78}</string>
            </dict>
            <key>hero_lc_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,168},{34,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,78}}</string>
                <key>sourceSize</key>
                <string>{34,78}</string>
            </dict>
            <key>hero_lc_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{30,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,76}}</string>
                <key>sourceSize</key>
                <string>{30,76}</string>
            </dict>
            <key>hero_lc_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,204},{39,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,72}}</string>
                <key>sourceSize</key>
                <string>{39,74}</string>
            </dict>
            <key>hero_lc_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,245},{19,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,71}}</string>
                <key>sourceSize</key>
                <string>{19,71}</string>
            </dict>
            <key>hero_lc_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,317},{23,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,65}}</string>
                <key>sourceSize</key>
                <string>{23,65}</string>
            </dict>
            <key>hero_lc_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,269},{25,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,69}}</string>
                <key>sourceSize</key>
                <string>{25,69}</string>
            </dict>
            <key>hero_lc_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,208},{29,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,68}}</string>
                <key>sourceSize</key>
                <string>{29,68}</string>
            </dict>
            <key>hero_lc_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,384},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_lc_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,56},{100,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,27}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>hero_lc_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_luocha_body.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd1ebd8ea478573747829fc095cdf37c$</string>
            <key>textureFileName</key>
            <string>hero_luocha_body.png</string>
        </dict>
    </dict>
</plist>
