<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_xl_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,313},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>hero_xl_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{77,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,190}}</string>
                <key>sourceSize</key>
                <string>{77,190}</string>
            </dict>
            <key>hero_xl_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,547},{45,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>hero_xl_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,183},{69,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,105}}</string>
                <key>sourceSize</key>
                <string>{69,105}</string>
            </dict>
            <key>hero_xl_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,369},{67,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,74}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>hero_xl_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,238},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>hero_xl_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,223},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>hero_xl_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,254},{50,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,103}}</string>
                <key>sourceSize</key>
                <string>{50,103}</string>
            </dict>
            <key>hero_xl_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,571},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>hero_xl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,438},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,81}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>hero_xl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,340},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>hero_xl_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{78,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,46}}</string>
                <key>sourceSize</key>
                <string>{78,46}</string>
            </dict>
            <key>hero_xl_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,68},{143,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,89}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>hero_xl_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,324},{68,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,89}}</string>
                <key>sourceSize</key>
                <string>{68,89}</string>
            </dict>
            <key>hero_xl_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>hero_xl_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,519},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>hero_xl_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,260},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>hero_xl_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,515},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>hero_xl_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,407},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>hero_xl_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,81},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>hero_xl_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,313},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>hero_xl_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,528},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>hero_xl_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>hero_xl_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,487},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>hero_xl_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,260},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>hero_xl_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,262},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>hero_xl_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,358},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>hero_xl_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,385},{94,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,96}}</string>
                <key>sourceSize</key>
                <string>{94,96}</string>
            </dict>
            <key>hero_xl_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,486},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>hero_xl_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,71},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>hero_xl_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,459},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>hero_xl_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,152},{55,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,92}}</string>
                <key>sourceSize</key>
                <string>{55,92}</string>
            </dict>
            <key>hero_xl_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,394},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>hero_xl_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,470},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>hero_xl_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,167},{74,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,111}}</string>
                <key>sourceSize</key>
                <string>{74,111}</string>
            </dict>
            <key>hero_xl_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,466},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>hero_xl_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,100},{81,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>hero_xl_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{198,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,95}}</string>
                <key>sourceSize</key>
                <string>{198,95}</string>
            </dict>
            <key>hero_xl_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{215,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,96}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>hero_xl_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{206,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,105}}</string>
                <key>sourceSize</key>
                <string>{206,105}</string>
            </dict>
            <key>hero_xl_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,41},{151,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,74}}</string>
                <key>sourceSize</key>
                <string>{151,74}</string>
            </dict>
            <key>hero_xl_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{156,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,64}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>hero_xl_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>hero_xl_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>hero_xl_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,363},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>hero_xl_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,302},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>hero_xl_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,340},{77,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,53}}</string>
                <key>sourceSize</key>
                <string>{77,53}</string>
            </dict>
            <key>hero_xl_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,483},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>hero_xl_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,470},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>hero_xl_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>hero_xl_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,413},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>hero_xl_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,358},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>hero_xl_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,412},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>hero_xl_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,199},{121,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,119}}</string>
                <key>sourceSize</key>
                <string>{121,119}</string>
            </dict>
            <key>hero_xl_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,479},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>hero_xl_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,243},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>hero_xl_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,209},{51,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,91}}</string>
                <key>sourceSize</key>
                <string>{51,91}</string>
            </dict>
            <key>hero_xl_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,438},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>hero_xl_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,602},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>hero_xl_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,368},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>hero_xl_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,412},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>hero_xl_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,81},{131,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,84}}</string>
                <key>sourceSize</key>
                <string>{131,84}</string>
            </dict>
            <key>hero_xl_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,579},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>hero_xl_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,564},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>hero_xl_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,473},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>hero_xl_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,468},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>hero_xl_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,136},{100,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,111}}</string>
                <key>sourceSize</key>
                <string>{100,111}</string>
            </dict>
            <key>hero_xl_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,150},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>hero_xl_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,414},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>hero_xl_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,277},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>hero_xl_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,487},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero_xl_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,52}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_xl_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,473},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>hero_xl_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,524},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>hero_xl_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,414},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>hero_xl_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>hero_xl_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,541},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>hero_xl_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,306},{99,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{99,101}</string>
            </dict>
            <key>hero_xl_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,238},{100,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,103}}</string>
                <key>sourceSize</key>
                <string>{100,103}</string>
            </dict>
            <key>hero_xl_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>hero_xl_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,395},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hero_xl_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,210},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>hero_xl_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,425},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>hero_xl_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,536},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>hero_xl_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,604},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>hero_xl_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,594},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>hero_xl_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{37,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,154}}</string>
                <key>sourceSize</key>
                <string>{37,154}</string>
            </dict>
            <key>hero_xl_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,100},{34,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,112}}</string>
                <key>sourceSize</key>
                <string>{34,112}</string>
            </dict>
            <key>hero_xl_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,320},{36,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,114}}</string>
                <key>sourceSize</key>
                <string>{36,114}</string>
            </dict>
            <key>hero_xl_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,315},{51,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,100}}</string>
                <key>sourceSize</key>
                <string>{51,100}</string>
            </dict>
            <key>hero_xl_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,56},{19,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,109}}</string>
                <key>sourceSize</key>
                <string>{19,109}</string>
            </dict>
            <key>hero_xl_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,352},{31,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,95}}</string>
                <key>sourceSize</key>
                <string>{31,95}</string>
            </dict>
            <key>hero_xl_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,285},{31,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,101}}</string>
                <key>sourceSize</key>
                <string>{31,101}</string>
            </dict>
            <key>hero_xl_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,199},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>hero_xl_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,470},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>hero_xl_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,159},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>hero_xl_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,117},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_xiuluo_body.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdadf887f7416df4e2ba7211cf78c0bc$</string>
            <key>textureFileName</key>
            <string>hero_xiuluo_body.png</string>
        </dict>
    </dict>
</plist>
