<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_shizxianzi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,440},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>hero_shizxianzi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,207},{77,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,190}}</string>
                <key>sourceSize</key>
                <string>{77,190}</string>
            </dict>
            <key>hero_shizxianzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,524},{45,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,63}</string>
            </dict>
            <key>hero_shizxianzi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,247},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,70}}</string>
                <key>sourceSize</key>
                <string>{46,70}</string>
            </dict>
            <key>hero_shizxianzi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,353},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>hero_shizxianzi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,700},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>hero_shizxianzi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,281},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>hero_shizxianzi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,444},{50,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,103}}</string>
                <key>sourceSize</key>
                <string>{50,103}</string>
            </dict>
            <key>hero_shizxianzi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,920},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>hero_shizxianzi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,487},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,81}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>hero_shizxianzi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,189},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>hero_shizxianzi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,652},{78,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,46}}</string>
                <key>sourceSize</key>
                <string>{78,46}</string>
            </dict>
            <key>hero_shizxianzi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{143,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,89}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>hero_shizxianzi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,719},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>hero_shizxianzi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,599},{58,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,62}</string>
            </dict>
            <key>hero_shizxianzi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,958},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>hero_shizxianzi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,615},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{40,78}</string>
            </dict>
            <key>hero_shizxianzi_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,579},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>hero_shizxianzi_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,652},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>hero_shizxianzi_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,712},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>hero_shizxianzi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,965},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{38,48}</string>
            </dict>
            <key>hero_shizxianzi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,704},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>hero_shizxianzi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,815},{44,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,63}}</string>
                <key>sourceSize</key>
                <string>{44,63}</string>
            </dict>
            <key>hero_shizxianzi_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,877},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>hero_shizxianzi_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,721},{38,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,51}}</string>
                <key>sourceSize</key>
                <string>{38,51}</string>
            </dict>
            <key>hero_shizxianzi_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,189},{88,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{88,90}</string>
            </dict>
            <key>hero_shizxianzi_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,937},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>hero_shizxianzi_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,536},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>hero_shizxianzi_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,295},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>hero_shizxianzi_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,443},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>hero_shizxianzi_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,747},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>hero_shizxianzi_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,277},{55,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,92}}</string>
                <key>sourceSize</key>
                <string>{55,92}</string>
            </dict>
            <key>hero_shizxianzi_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,360},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>hero_shizxianzi_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,864},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>hero_shizxianzi_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,138},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{49,74}</string>
            </dict>
            <key>hero_shizxianzi_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,644},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,45}</string>
            </dict>
            <key>hero_shizxianzi_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,414},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,71}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>hero_shizxianzi_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{198,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,95}}</string>
                <key>sourceSize</key>
                <string>{198,95}</string>
            </dict>
            <key>hero_shizxianzi_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,96}}</string>
                <key>sourceSize</key>
                <string>{215,96}</string>
            </dict>
            <key>hero_shizxianzi_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{206,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,105}}</string>
                <key>sourceSize</key>
                <string>{206,105}</string>
            </dict>
            <key>hero_shizxianzi_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,207},{151,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,74}}</string>
                <key>sourceSize</key>
                <string>{151,74}</string>
            </dict>
            <key>hero_shizxianzi_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{156,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,64}}</string>
                <key>sourceSize</key>
                <string>{156,64}</string>
            </dict>
            <key>hero_shizxianzi_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,585},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>hero_shizxianzi_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,519},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>hero_shizxianzi_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,869},{38,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,47}}</string>
                <key>sourceSize</key>
                <string>{38,47}</string>
            </dict>
            <key>hero_shizxianzi_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,518},{77,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{77,65}</string>
            </dict>
            <key>hero_shizxianzi_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,657},{77,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,53}}</string>
                <key>sourceSize</key>
                <string>{77,53}</string>
            </dict>
            <key>hero_shizxianzi_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,549},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>hero_shizxianzi_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,909},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>hero_shizxianzi_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,915},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>hero_shizxianzi_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,189},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>hero_shizxianzi_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,819},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>hero_shizxianzi_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,819},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>hero_shizxianzi_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,451},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>hero_shizxianzi_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,974},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>hero_shizxianzi_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,700},{70,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{70,45}</string>
            </dict>
            <key>hero_shizxianzi_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{51,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,91}}</string>
                <key>sourceSize</key>
                <string>{51,91}</string>
            </dict>
            <key>hero_shizxianzi_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,861},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>hero_shizxianzi_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,864},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>hero_shizxianzi_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,189},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,86}}</string>
                <key>sourceSize</key>
                <string>{55,86}</string>
            </dict>
            <key>hero_shizxianzi_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,803},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>hero_shizxianzi_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,55},{87,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,56}}</string>
                <key>sourceSize</key>
                <string>{87,56}</string>
            </dict>
            <key>hero_shizxianzi_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,825},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>hero_shizxianzi_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,983},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>hero_shizxianzi_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,422},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>hero_shizxianzi_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,585},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,58}}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>hero_shizxianzi_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,361},{77,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,85}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>hero_shizxianzi_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,356},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>hero_shizxianzi_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,659},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>hero_shizxianzi_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,780},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>hero_shizxianzi_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,780},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>hero_shizxianzi_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{235,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,52}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_shizxianzi_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,772},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,51}</string>
            </dict>
            <key>hero_shizxianzi_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,974},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>hero_shizxianzi_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,727},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>hero_shizxianzi_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,739},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,62}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>hero_shizxianzi_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,920},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>hero_shizxianzi_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,371},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>hero_shizxianzi_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,272},{77,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,79}}</string>
                <key>sourceSize</key>
                <string>{77,79}</string>
            </dict>
            <key>hero_shizxianzi_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,470},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>hero_shizxianzi_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,113},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>hero_shizxianzi_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>hero_shizxianzi_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,771},{62,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,46}}</string>
                <key>sourceSize</key>
                <string>{62,46}</string>
            </dict>
            <key>hero_shizxianzi_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,864},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>hero_shizxianzi_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,819},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>hero_shizxianzi_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,539},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>hero_shizxianzi_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,99},{37,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,154}}</string>
                <key>sourceSize</key>
                <string>{37,154}</string>
            </dict>
            <key>hero_shizxianzi_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,747},{34,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,112}}</string>
                <key>sourceSize</key>
                <string>{34,112}</string>
            </dict>
            <key>hero_shizxianzi_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,747},{36,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,114}}</string>
                <key>sourceSize</key>
                <string>{36,114}</string>
            </dict>
            <key>hero_shizxianzi_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,602},{51,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,100}}</string>
                <key>sourceSize</key>
                <string>{51,100}</string>
            </dict>
            <key>hero_shizxianzi_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,863},{19,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,109}}</string>
                <key>sourceSize</key>
                <string>{19,109}</string>
            </dict>
            <key>hero_shizxianzi_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,602},{31,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,95}}</string>
                <key>sourceSize</key>
                <string>{31,95}</string>
            </dict>
            <key>hero_shizxianzi_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,444},{31,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,101}}</string>
                <key>sourceSize</key>
                <string>{31,101}</string>
            </dict>
            <key>hero_shizxianzi_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,861},{33,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,84}}</string>
                <key>sourceSize</key>
                <string>{33,84}</string>
            </dict>
            <key>hero_shizxianzi_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,399},{67,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,43}}</string>
                <key>sourceSize</key>
                <string>{67,43}</string>
            </dict>
            <key>hero_shizxianzi_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,138},{122,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,49}}</string>
                <key>sourceSize</key>
                <string>{122,49}</string>
            </dict>
            <key>hero_shizxianzi_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_shizxianzi_body.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a90f06cab01bd9aaa1d56d425ff7277$</string>
            <key>textureFileName</key>
            <string>hero_shizxianzi_body.png</string>
        </dict>
    </dict>
</plist>
