<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_shiznvpu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,274},{63,71}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{63,71}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>hero_shiznvpu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{57,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,160}}</string>
                <key>sourceSize</key>
                <string>{59,162}</string>
            </dict>
            <key>hero_shiznvpu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,354},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>hero_shiznvpu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,115},{27,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,53}}</string>
                <key>sourceSize</key>
                <string>{27,53}</string>
            </dict>
            <key>hero_shiznvpu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,238},{41,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,46}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>hero_shiznvpu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,210},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>hero_shiznvpu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,276},{74,62}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>hero_shiznvpu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,174},{40,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,87}}</string>
                <key>sourceSize</key>
                <string>{40,87}</string>
            </dict>
            <key>hero_shiznvpu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,479},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>hero_shiznvpu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,383},{37,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{37,69}}</string>
                <key>sourceSize</key>
                <string>{39,71}</string>
            </dict>
            <key>hero_shiznvpu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,396},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>hero_shiznvpu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,355},{58,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>hero_shiznvpu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,31},{141,87}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{141,87}}</string>
                <key>sourceSize</key>
                <string>{143,89}</string>
            </dict>
            <key>hero_shiznvpu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,283},{32,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{36,43}</string>
            </dict>
            <key>hero_shiznvpu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,498},{23,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>hero_shiznvpu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,136},{18,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,60}}</string>
                <key>sourceSize</key>
                <string>{18,60}</string>
            </dict>
            <key>hero_shiznvpu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,170},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{27,39}}</string>
                <key>sourceSize</key>
                <string>{31,43}</string>
            </dict>
            <key>hero_shiznvpu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,323},{39,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{39,45}}</string>
                <key>sourceSize</key>
                <string>{41,47}</string>
            </dict>
            <key>hero_shiznvpu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,66},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>hero_shiznvpu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,432},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>hero_shiznvpu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,449},{24,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>hero_shiznvpu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,475},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>hero_shiznvpu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,31},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>hero_shiznvpu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{50,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,66}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>hero_shiznvpu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,463},{39,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,53}}</string>
                <key>sourceSize</key>
                <string>{39,53}</string>
            </dict>
            <key>hero_shiznvpu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,296},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,74}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>hero_shiznvpu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,413},{51,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>hero_shiznvpu_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,255},{59,47}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>hero_shiznvpu_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,147},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>hero_shiznvpu_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,67},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,78}}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
            <key>hero_shiznvpu_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,339},{64,65}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>hero_shiznvpu_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,296},{43,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,38}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>hero_shiznvpu_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,226},{30,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,55}}</string>
                <key>sourceSize</key>
                <string>{30,55}</string>
            </dict>
            <key>hero_shiznvpu_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,454},{51,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,23}}</string>
                <key>sourceSize</key>
                <string>{53,23}</string>
            </dict>
            <key>hero_shiznvpu_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,328},{31,53}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{31,53}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>hero_shiznvpu_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,231},{114,63}}</string>
                <key>offset</key>
                <string>{14,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{114,63}}</string>
                <key>sourceSize</key>
                <string>{142,83}</string>
            </dict>
            <key>hero_shiznvpu_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,56},{151,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{151,72}}</string>
                <key>sourceSize</key>
                <string>{153,74}</string>
            </dict>
            <key>hero_shiznvpu_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{160,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{160,63}}</string>
                <key>sourceSize</key>
                <string>{166,65}</string>
            </dict>
            <key>hero_shiznvpu_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{131,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{131,56}}</string>
                <key>sourceSize</key>
                <string>{135,58}</string>
            </dict>
            <key>hero_shiznvpu_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,67},{118,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,48}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>hero_shiznvpu_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{51,53}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>hero_shiznvpu_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,281},{40,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>hero_shiznvpu_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,311},{22,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>hero_shiznvpu_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,437},{51,55}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{53,65}</string>
            </dict>
            <key>hero_shiznvpu_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,354},{49,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>hero_shiznvpu_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{67,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{67,47}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>hero_shiznvpu_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,403},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>hero_shiznvpu_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,249},{32,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>hero_shiznvpu_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,340},{71,60}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>hero_shiznvpu_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,96},{20,19}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{20,19}}</string>
                <key>sourceSize</key>
                <string>{24,27}</string>
            </dict>
            <key>hero_shiznvpu_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,466},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>hero_shiznvpu_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,405},{47,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,51}}</string>
                <key>sourceSize</key>
                <string>{49,53}</string>
            </dict>
            <key>hero_shiznvpu_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,283},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>hero_shiznvpu_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,431},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>hero_shiznvpu_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{39,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,69}}</string>
                <key>sourceSize</key>
                <string>{41,71}</string>
            </dict>
            <key>hero_shiznvpu_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,405},{24,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,52}}</string>
                <key>sourceSize</key>
                <string>{28,54}</string>
            </dict>
            <key>hero_shiznvpu_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,335},{16,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,31}}</string>
                <key>sourceSize</key>
                <string>{18,35}</string>
            </dict>
            <key>hero_shiznvpu_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,341},{37,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,70}}</string>
                <key>sourceSize</key>
                <string>{37,70}</string>
            </dict>
            <key>hero_shiznvpu_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,408},{39,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>hero_shiznvpu_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{63,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,26}}</string>
                <key>sourceSize</key>
                <string>{65,28}</string>
            </dict>
            <key>hero_shiznvpu_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,463},{16,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,34}}</string>
                <key>sourceSize</key>
                <string>{18,36}</string>
            </dict>
            <key>hero_shiznvpu_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,195},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>hero_shiznvpu_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,383},{55,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,52}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>hero_shiznvpu_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,216},{58,77}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,77}}</string>
                <key>sourceSize</key>
                <string>{62,79}</string>
            </dict>
            <key>hero_shiznvpu_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,454},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>hero_shiznvpu_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,304},{58,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{58,49}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>hero_shiznvpu_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,198},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>hero_shiznvpu_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,117},{20,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>hero_shiznvpu_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,52}}</string>
                <key>sourceSize</key>
                <string>{235,52}</string>
            </dict>
            <key>hero_shiznvpu_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,446},{37,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,27}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>hero_shiznvpu_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,211},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>hero_shiznvpu_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,501},{47,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{47,21}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_shiznvpu_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,364},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>hero_shiznvpu_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,353},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>hero_shiznvpu_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,209},{63,71}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{63,71}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>hero_shiznvpu_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{52,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,63}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>hero_shiznvpu_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,455},{42,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>hero_shiznvpu_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,402},{70,59}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,59}}</string>
                <key>sourceSize</key>
                <string>{72,63}</string>
            </dict>
            <key>hero_shiznvpu_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,117},{116,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>hero_shiznvpu_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,475},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,24}}</string>
                <key>sourceSize</key>
                <string>{44,24}</string>
            </dict>
            <key>hero_shiznvpu_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>hero_shiznvpu_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,457},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hero_shiznvpu_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{100,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{100,27}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>hero_shiznvpu_99.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{132,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_shiznvpu_body.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73e219c1f6f67faaecc3b9938f782826$</string>
            <key>textureFileName</key>
            <string>hero_shiznvpu_body.png</string>
        </dict>
    </dict>
</plist>
