<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suiy12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>suiy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,40},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>tainyzjc3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{201,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,22}}</string>
                <key>sourceSize</key>
                <string>{201,22}</string>
            </dict>
            <key>tianyzjdz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,42}}</string>
                <key>sourceSize</key>
                <string>{204,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>z2.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ce36229c7549b709b9f0d5e47cc8d79$</string>
            <key>textureFileName</key>
            <string>z2.png</string>
        </dict>
    </dict>
</plist>
