<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{33,456}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,456}}</string>
                <key>sourceSize</key>
                <string>{35,456}</string>
            </dict>
            <key>m5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{44,384}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,384}}</string>
                <key>sourceSize</key>
                <string>{46,384}</string>
            </dict>
            <key>m5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{22,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,423}}</string>
                <key>sourceSize</key>
                <string>{22,423}</string>
            </dict>
            <key>m5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{29,344}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,344}}</string>
                <key>sourceSize</key>
                <string>{31,344}</string>
            </dict>
            <key>m5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{45,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,26}}</string>
                <key>sourceSize</key>
                <string>{45,26}</string>
            </dict>
            <key>m5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>m5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,528},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
            <key>m5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,460},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>m5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{82,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,33}}</string>
                <key>sourceSize</key>
                <string>{82,33}</string>
            </dict>
            <key>m5_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>m5_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,460},{59,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,35}}</string>
                <key>sourceSize</key>
                <string>{59,35}</string>
            </dict>
            <key>m5_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,528},{69,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,41}}</string>
                <key>sourceSize</key>
                <string>{69,41}</string>
            </dict>
            <key>m5_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{63,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,42}}</string>
                <key>sourceSize</key>
                <string>{63,42}</string>
            </dict>
            <key>m5_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,460},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>m5_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,629},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>m5_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,572},{79,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,35}}</string>
                <key>sourceSize</key>
                <string>{79,35}</string>
            </dict>
            <key>m5_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{71,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,32}}</string>
                <key>sourceSize</key>
                <string>{71,32}</string>
            </dict>
            <key>m5_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,572},{75,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,55}}</string>
                <key>sourceSize</key>
                <string>{75,55}</string>
            </dict>
            <key>m5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,439}}</string>
                <key>sourceSize</key>
                <string>{20,439}</string>
            </dict>
            <key>m5_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{22,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,423}}</string>
                <key>sourceSize</key>
                <string>{22,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>houz1.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9073092619957ffbeeecea2247f210a3$</string>
            <key>textureFileName</key>
            <string>houz1.png</string>
        </dict>
    </dict>
</plist>
