<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhong11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,23}}</string>
                <key>sourceSize</key>
                <string>{11,23}</string>
            </dict>
            <key>zhong12.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,2},{25,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,8}}</string>
                <key>sourceSize</key>
                <string>{25,8}</string>
            </dict>
            <key>zhong13.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>zhong14.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>zhong15.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>zhong17.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>zhong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{176,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,78}}</string>
                <key>sourceSize</key>
                <string>{176,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map4_2gj20.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1496c8bc38f11b41db6a79b86df2e369$</string>
            <key>textureFileName</key>
            <string>map4_2gj20.png</string>
        </dict>
    </dict>
</plist>
