<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,83}}</string>
                <key>sourceSize</key>
                <string>{216,83}</string>
            </dict>
            <key>qian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>qian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,87},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>qian13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,87},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>qian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,87},{38,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,14}}</string>
                <key>sourceSize</key>
                <string>{40,14}</string>
            </dict>
            <key>qian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,87},{36,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map4_1gj10.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:995dc95c4a7658f3862b5a9b93c3e7d6$</string>
            <key>textureFileName</key>
            <string>map4_1gj10.png</string>
        </dict>
    </dict>
</plist>
