<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,96}}</string>
                <key>sourceSize</key>
                <string>{209,96}</string>
            </dict>
            <key>zhong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{23,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>zhong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>zhong6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{25,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,16}}</string>
                <key>sourceSize</key>
                <string>{25,16}</string>
            </dict>
            <key>zhong7.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,100},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>zhong8.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,100},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>zhong9.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,100},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map4_2gj10.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74ae681d251fb49f0ec7c7a780ae7c07$</string>
            <key>textureFileName</key>
            <string>map4_2gj10.png</string>
        </dict>
    </dict>
</plist>
