<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhong13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>zhong16.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,2},{13,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>zhong18.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>zhong20.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>zhong21.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>zhong22.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{24,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,15}}</string>
                <key>sourceSize</key>
                <string>{24,15}</string>
            </dict>
            <key>zhong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{215,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,86}}</string>
                <key>sourceSize</key>
                <string>{215,86}</string>
            </dict>
            <key>zhong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,25},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>zhong8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,25},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map4_2gj40.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0183632553f816d9f5d47d6916bc931$</string>
            <key>textureFileName</key>
            <string>map4_2gj40.png</string>
        </dict>
    </dict>
</plist>
