<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,14}}</string>
                <key>sourceSize</key>
                <string>{44,14}</string>
            </dict>
            <key>qian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>qian13.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{43,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{43,20}</string>
            </dict>
            <key>qian14.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{20,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>qian15.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>qian16.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{24,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,51}}</string>
                <key>sourceSize</key>
                <string>{24,51}</string>
            </dict>
            <key>qian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{264,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,64}}</string>
                <key>sourceSize</key>
                <string>{264,64}</string>
            </dict>
            <key>qian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>qian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map4_1gj30.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1bf4afc00cf8f21b9695e48544770d3$</string>
            <key>textureFileName</key>
            <string>map4_1gj30.png</string>
        </dict>
    </dict>
</plist>
