<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luocha_bianzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,270},{163,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,85}}</string>
                <key>sourceSize</key>
                <string>{163,85}</string>
            </dict>
            <key>luocha_bianzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,357},{169,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,85}}</string>
                <key>sourceSize</key>
                <string>{169,85}</string>
            </dict>
            <key>luocha_bianzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,29},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>luocha_bianzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,152},{52,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,43}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>luocha_biyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,734},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>luocha_biyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,244},{47,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,24}}</string>
                <key>sourceSize</key>
                <string>{47,24}</string>
            </dict>
            <key>luocha_gongjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{465,133}}</string>
                <key>sourceSize</key>
                <string>{465,133}</string>
            </dict>
            <key>luocha_gongjian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,498},{107,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,72}}</string>
                <key>sourceSize</key>
                <string>{107,72}</string>
            </dict>
            <key>luocha_gongjian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,215},{113,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,47}}</string>
                <key>sourceSize</key>
                <string>{113,47}</string>
            </dict>
            <key>luocha_jianxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{344,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,113}}</string>
                <key>sourceSize</key>
                <string>{344,113}</string>
            </dict>
            <key>luocha_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,764},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>luocha_shangshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,252},{91,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,98}}</string>
                <key>sourceSize</key>
                <string>{91,98}</string>
            </dict>
            <key>luocha_texiao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,620},{152,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,86}}</string>
                <key>sourceSize</key>
                <string>{152,86}</string>
            </dict>
            <key>luocha_toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,137},{116,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,76}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>luocha_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{25,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>luocha_toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,708},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>luocha_touhua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,206},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>luocha_touhua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,620},{16,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,30}}</string>
                <key>sourceSize</key>
                <string>{16,30}</string>
            </dict>
            <key>luocha_yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,747},{58,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,82}}</string>
                <key>sourceSize</key>
                <string>{58,82}</string>
            </dict>
            <key>luocha_yibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,572},{56,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,110}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
            <key>luocha_yibai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{74,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,227}}</string>
                <key>sourceSize</key>
                <string>{74,227}</string>
            </dict>
            <key>luocha_yibai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,630},{132,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,104}}</string>
                <key>sourceSize</key>
                <string>{132,104}</string>
            </dict>
            <key>luocha_yibai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{237,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,130}}</string>
                <key>sourceSize</key>
                <string>{237,130}</string>
            </dict>
            <key>luocha_yibai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{61,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,186}}</string>
                <key>sourceSize</key>
                <string>{61,186}</string>
            </dict>
            <key>luocha_yibai5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{129,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,65}}</string>
                <key>sourceSize</key>
                <string>{129,65}</string>
            </dict>
            <key>luocha_yibai6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{126,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,60}}</string>
                <key>sourceSize</key>
                <string>{126,60}</string>
            </dict>
            <key>luocha_yibaixiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,558},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{36,80}</string>
            </dict>
            <key>luocha_yijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,444},{23,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,12}}</string>
                <key>sourceSize</key>
                <string>{23,12}</string>
            </dict>
            <key>luocha_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,621},{53,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,72}}</string>
                <key>sourceSize</key>
                <string>{53,72}</string>
            </dict>
            <key>luocha_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{96,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,247}}</string>
                <key>sourceSize</key>
                <string>{96,247}</string>
            </dict>
            <key>luocha_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,764},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>luocha_yuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,352},{98,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,144}}</string>
                <key>sourceSize</key>
                <string>{98,144}</string>
            </dict>
            <key>luocha_zoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,695},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,50}}</string>
                <key>sourceSize</key>
                <string>{91,50}</string>
            </dict>
            <key>luocha_zoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,80},{70,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,37}}</string>
                <key>sourceSize</key>
                <string>{70,37}</string>
            </dict>
            <key>luocha_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,444},{174,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,154}}</string>
                <key>sourceSize</key>
                <string>{174,154}</string>
            </dict>
            <key>luocha_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,708},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baijiluocha0.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72f7c2873d31a7be3dfd0a0956413ab1$</string>
            <key>textureFileName</key>
            <string>baijiluocha0.png</string>
        </dict>
    </dict>
</plist>
