<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>baox_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,96}}</string>
                <key>sourceSize</key>
                <string>{113,98}</string>
            </dict>
            <key>baox_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,100},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>baox_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{79,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,22}}</string>
                <key>sourceSize</key>
                <string>{81,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tongsbaoxiang0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36786706b2e190a83d7ee66634565fef$</string>
            <key>textureFileName</key>
            <string>tongsbaoxiang0.png</string>
        </dict>
    </dict>
</plist>
