<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suiy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>suiy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,2},{21,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>tainyzjc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{192,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,21}}</string>
                <key>sourceSize</key>
                <string>{192,21}</string>
            </dict>
            <key>tianyzjdz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{190,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,49}}</string>
                <key>sourceSize</key>
                <string>{190,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>z3.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5461e4f97831b9d063586316414a6ea9$</string>
            <key>textureFileName</key>
            <string>z3.png</string>
        </dict>
    </dict>
</plist>
