<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_ocr_b16a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{295,317}}</string>
                <key>sourceSize</key>
                <string>{297,317}</string>
            </dict>
            <key>scene_ocr_b17a.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,303},{80,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,41}}</string>
                <key>sourceSize</key>
                <string>{80,41}</string>
            </dict>
            <key>scene_ocr_b19a.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,134},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>scene_ocr_b20a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{112,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,88}}</string>
                <key>sourceSize</key>
                <string>{112,88}</string>
            </dict>
            <key>scene_ocr_b21a.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,385},{105,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,80}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>scene_ocr_b22a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{87,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,143}}</string>
                <key>sourceSize</key>
                <string>{87,143}</string>
            </dict>
            <key>scene_ocr_b23a.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,201},{145,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,102}}</string>
                <key>sourceSize</key>
                <string>{145,102}</string>
            </dict>
            <key>scene_ocr_b24a.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,305},{136,125}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,125}}</string>
                <key>sourceSize</key>
                <string>{138,125}</string>
            </dict>
            <key>scene_ocr_b25a.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,575},{92,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,77}}</string>
                <key>sourceSize</key>
                <string>{92,77}</string>
            </dict>
            <key>scene_ocr_b26a.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,511},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{62,94}</string>
            </dict>
            <key>scene_ocr_b27a.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,201},{42,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,100}}</string>
                <key>sourceSize</key>
                <string>{42,100}</string>
            </dict>
            <key>scene_ocr_b28a.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,511},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>scene_ocr_b29a.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,299},{140,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,71}}</string>
                <key>sourceSize</key>
                <string>{140,71}</string>
            </dict>
            <key>scene_ocr_b30a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{128,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,78}}</string>
                <key>sourceSize</key>
                <string>{128,78}</string>
            </dict>
            <key>scene_ocr_b31a.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,500},{87,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,106}}</string>
                <key>sourceSize</key>
                <string>{87,106}</string>
            </dict>
            <key>scene_ocr_b32a.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,492},{112,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,51}}</string>
                <key>sourceSize</key>
                <string>{112,51}</string>
            </dict>
            <key>scene_ocr_b33a.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{183,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,130}}</string>
                <key>sourceSize</key>
                <string>{183,130}</string>
            </dict>
            <key>scene_ocr_b34a.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,134},{156,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,65}}</string>
                <key>sourceSize</key>
                <string>{156,65}</string>
            </dict>
            <key>scene_ocr_b35a.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,372},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>scene_ocr_b36a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{70,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,105}}</string>
                <key>sourceSize</key>
                <string>{70,105}</string>
            </dict>
            <key>scene_ocr_b37a.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,432},{77,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,112}}</string>
                <key>sourceSize</key>
                <string>{77,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map3_20.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:384c7ee8d5cb9c2e38b56d3780cdf19f$</string>
            <key>textureFileName</key>
            <string>map3_20.png</string>
        </dict>
    </dict>
</plist>
